@base-color-05: rgba(0, 0, 0, 0.05);
@base-color-10: rgba(0, 0, 0, 0.1);
@base-color-20: rgba(0, 0, 0, 0.2);
@base-color-30: rgba(0, 0, 0, 0.3);
@base-color-50: rgba(0, 0, 0, 0.5);
@base-color-70: rgba(0, 0, 0, 0.7);
@base-color-80: rgba(0, 0, 0, 0.8);
@base-color-100: rgba(0, 0, 0, 1);

@base-text-color: #060607;
@base-title-color: #6E6E6E;

@bg-color: #000;
@base-bg-color: #fff;
@editor-bg-color: @base-bg-color;
@gridster-item-bg-color: @base-bg-color;
@gridster-bg-color: #f5f5f5;

@base-line-color: #cbd5e1;
@base-hover-line-color: #c8c8c8;
@base-divider-color: rgba(116, 119, 127, .2);
@base-placeholder-text-color: #a7b1bd;
@base-placeholder-bg-color: #f1f1f1;

@gridster-line-color: #eaeaea;
@code-toolbar-bg-color: #a7c1de;
@editor-round-color: rgba(12, 12, 12, 0.171);

@table-header-bg-color: @base-bg-color;

@split-gutter-color: #eee;