<div class="grid grid-cols-6 gap-3px" [style]="styleComputer()">
  @for (item of configs(); track $index) {
    <div
      matRipple
      matRippleColor="#ffffff30"
      [class.active-style]="isActive(item.value)"
      [class.disabled-style]="isDisabled || item.disabled"
      (click)="onOptionClick(item)"
      class="text-center flex-center gap-3px h-32px line-height-32px cursor-pointer hover:bg-#2F90B930 rounded-8px"
    >
      @if (item.icon) {
        <mat-icon> {{ item.icon }}</mat-icon>
      }
      {{ item.label }}
    </div>
  }
</div>
