<style>
  :host {
    display: flex;
    width: 100%;
    height: 100%;
  }
</style>
<!-- 左侧 -->
<div class="w-284px h-100% px-16px pt-12px pb-24px flex flex-col">
  <!-- 标题 -->
  <div class="flex gap-10px items-center h-48px">
    <div class="w-32px h-32px flex-center">
      <img
        class="w-24px h-24px"
        src="/assets/manage/classfile.png"
      />
    </div>
    <div class="font-roboto text-18px font-bold leading-24px tracking-0">
      分类目录
    </div>
  </div>
  <!-- 分割线 -->
  <mat-divider class="mt-10px! mb-20px!"></mat-divider>
  <!-- 目录 -->
  <main class="h-0 flex-1 mb-18px">
    <!-- <hs-tree></hs-tree> -->
    <!-- <hs-fancytree [config]="treeConfig"></hs-fancytree> -->
  </main>
  <!-- 新增 -->
  <footer
    class="w-100% h-36px border-1px border-dashed border border-#2f90b960 hover:border-#2f90b9 rounded-8px cursor-pointer flex-center"
  >
    <mat-icon class="mat-icon-rtl-mirror"> add </mat-icon>
    <div class="ml-12px leading-16px">新增</div>
  </footer>
</div>
<mat-divider
  [vertical]="true"
  class="h-full"
></mat-divider>
<!-- 右侧 -->
<div class="w-0 flex-1 h-100% flex flex-col">
  <div class="h-64px flex flex-row justify-end items-center px-24px gap-10px">
    <button mat-flat-button>新增</button>
  </div>
  <mat-divider class="opacity-20"></mat-divider>
  <div class="h-0 flex-1 pb-8px px-24px">
    {{ pageLink.fieldMultipleSelection }}
    <hs-dynamic-table
      class="app-manage-table"
      [tableConfig]="tableConfig()"
    ></hs-dynamic-table>
  </div>
</div>
