<content class="wh-full p-8px">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="wh-full"
  >
    <mat-tab label="子组">
      <hs-groups-children [activeGroup]="activeGroup()"></hs-groups-children>
    </mat-tab>
    <mat-tab label="成员">
      <hs-groups-members [activeGroup]="activeGroup()"></hs-groups-members>
    </mat-tab>
    <mat-tab label="属性">
      <hs-groups-attributes
        [activeGroup]="activeGroup()"
      ></hs-groups-attributes>
    </mat-tab>
    <mat-tab label="角色">
      <hs-groups-roles [activeGroup]="activeGroup()"></hs-groups-roles>
    </mat-tab>
  </mat-tab-group>
</content>
