@import "themeMixin";

.themeMixin( {
    :host {
      display: block;
      width: 100%;
      height: 100%;


      .viewport-border {
        border: 1px solid @base-color-20;
        box-shadow: 0px 5px 20px @base-color-10;
        // border: 1px dashed rgba(47, 144, 185, 0.5);
        border-radius: 8px;
        padding: 12px 8px;
      }

      .viewport-wrapper-bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: blue;
        z-index: -9999;
        /* 背景的堆叠顺序低于子元素 */
        background-color: @editor-bg-color;
      }

      .viewport-overlay-layer {
        position: absolute;
        cursor: pointer;
        z-index: 999;

        button {
          display: none;
        }

        &:hover {
          background-color: rgba(47, 144, 185, 0.1);
          border: 2px dashed rgb(47, 144, 185);
          border-radius: 8px;

          &+.viewport-content {
            opacity: 0.5;
          }

          button {
            display: inline-flex;
          }

        }
      }

      .widget-workbench-tips {
        border-radius: 8px;
        background-color: @base-bg-color;
      }

      .viewport-content-bg {
        background-color: @base-bg-color;
      }

      ::ng-deep {
        .ng-scroll-content {
          width: 100% !important;
        }

        .render-canvar {
          display: block;
          height: 100%;
          padding: 8px 20px;
        }

        .wh-full-auto {
          width: 100%;
          height: auto;
        }

        formly-form {
          .wh-full-auto();

          &>formly-field {
            .wh-full-auto();

            &>formly-field-wrapper {
              .wh-full-auto();

              &>#workspace {
                // .wh-full();
                min-height: calc(100vh - 64px - 48px - 1px - 16px);
                .wh-full-auto();
              }
            }
          }
        }
      }

    }
  }

);