<div
  cdkDropList
  (cdkDropListDropped)="cdkDropListDropped($event)"
  class="content-list"
>
  @for (f of field.fieldGroup; track $index) {
    <div
      class="flex-center mb-8px content-box"
      [style]="f.props!['style']"
      cdkDrag
    >
      <div
        *cdkDragPlaceholder
        class="content-custom-placeholder"
      ></div>
      <mat-icon
        class="cursor-move text-20px w-20px! h-20px! pr-5px"
        cdkDragHandle
        >drag_indicator</mat-icon
      >
      @let fieldGroupLength = f.fieldGroup?.length || 1;
      <div class="flex-1 w-0 flex gap-5px">
        @for (fc of f.fieldGroup; track $index) {
          <formly-field
            [style.width]="100 / fieldGroupLength + '%'"
            [field]="fc"
          >
          </formly-field>
        }
      </div>
      <mat-icon
        (click)="removeField($index)"
        class="cursor-pointer text-20px w-20px! h-20px! pl-5px ml-5px"
        >delete</mat-icon
      >
    </div>
  }
  <button
    class="w-full mb-5px bg-transparent"
    mat-button
    mat-raised-button
    (click)="addField(field.fieldGroup!.length)"
  >
    <mat-icon matChipAvatar>add</mat-icon> 新增
  </button>
</div>
