<content class="wh-full px-20px flex flex-col" hs-loading [isLoading]="isLoading()">
  <div
    mat-dialog-title
    class="text-24px! line-height-36px! py-20px! color-[var(--title-text-color)]!"
  >
    {{ data.userInfo.username }}
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content class="h-0 flex-1 max-h-none!">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      class="wh-full hs-tab-item-indicator-full"
    >
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="详情">info</mat-icon>
          <span>详情</span>
        </ng-template>
        <hs-create-user></hs-create-user>
      </mat-tab>
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="凭证">vpn_key</mat-icon>
          <span>凭证</span>
        </ng-template>
      </mat-tab>
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="角色"
            >supervisor_account</mat-icon
          >
          <span>角色</span>
        </ng-template>
      </mat-tab>
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="组织">groups</mat-icon>
          <span>组织</span>
        </ng-template>
      </mat-tab>
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="身份供应商"
            >account_tree</mat-icon
          >
          <span>身份供应商</span>
        </ng-template>
      </mat-tab>
      <mat-tab class="color-[var(--title-text-color)]!">
        <ng-template mat-tab-label>
          <mat-icon class="text-20px w-20px! h-20px! mr-6px" matTooltip="会话">history</mat-icon>
          <span>会话</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</content>
