@let fieldGroup = field.fieldArray.fieldGroup;
<div class="py-12px">{{ props.label }}</div>
<table class="subtable-table hs-density--5">
  <colgroup>
    @for (column of field.fieldArray.fieldGroup; track $index) {
      <col [style.width]="getSubTableItemWidth(fieldGroup!, column)" />
    }
    <col style="width: 10%" />
  </colgroup>
  <thead>
    <tr class="subtable-header-row">
      @for (column of columns; track $index) {
        <th
          class="subtable-header-cell"
          [style.width]="getSubTableItemWidth(fieldGroup!, fieldGroup[$index])"
        >
          {{ column.th }}
        </th>
      }
      <th class="subtable-header-cell">操作</th>
    </tr>
  </thead>

  <tbody>
    @for (field of field.fieldGroup; track $index) {
      <tr class="subtable-body-row">
        @for (field of field.fieldGroup; track $index) {
          <td class="subtable-body-cell">
            <formly-field
              class="col"
              [field]="removalLabel(field)"
            ></formly-field>
          </td>
        }
        <td class="subtable-body-cell">
          <button
            mat-button
            color="warn"
            (click)="remove($index)"
          >
            删除
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
<mat-divider class="w-100% mt-12px! mb-7px! my-auto!"></mat-divider>
<div class="flex-center py-8px">
  <button
    mat-raised-button
    color="secondary"
    type="button"
    (click)="add()"
    class="w-full"
  >
    新增
  </button>
</div>
