<table class="subtable-table">
  <thead>
    <tr class="subtable-header-row">
      @for (column of columns; track $index) {
        <th class="subtable-header-cell">{{ column.th }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (field of field.fieldGroup; track $index) {
      <tr class="subtable-body-row">
        @for (field of field.fieldGroup; track $index) {
          <td class="subtable-body-cell">
            <formly-field
              class="col"
              [field]="field"
            ></formly-field>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<div class="flex-center py-8px">
  <button
    mat-raised-button
    color="secondary"
    type="button"
    (click)="add()"
    class="w-full"
  >
    新增
  </button>
</div>

<!-- <div
  *ngFor="let field of field.fieldGroup; let i = index"
  class="row"
>
  @for (f of field.fieldGroup; track $index) {
    <formly-field
      class="col"
      [field]="f"
    ></formly-field>
  }

  <div class="col-sm-2 d-flex align-items-center">
    <button
      class="btn btn-danger"
      type="button"
      (click)="remove(i)"
    >
      Remove
    </button>
  </div>
</div>
<div style="margin: 30px 0">
  <button
    mat-raised-button
    color="secondary"
    type="button"
    (click)="add()"
  >
    111
  </button>
</div> -->
