<table class="subtable-table">
  <thead>
    <tr class="subtable-header-row">
      @for (column of columns; track $index) {
        <th class="subtable-header-cell">{{ column.th }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (field of field.fieldGroup; track $index) {
      <tr class="subtable-body-row">
        @for (field of field.fieldGroup; track $index) {
          <td class="subtable-body-cell">
            <formly-field
              class="col"
              [field]="field"
            ></formly-field>
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<div class="flex-center py-8px">
  <button
    mat-raised-button
    color="secondary"
    type="button"
    (click)="add()"
    class="w-full"
  >
    新增
  </button>
</div>
