:host {
  .mat-mdc-table {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
  }

  .mat-mdc-header-cell,
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }

  .mat-mdc-header-cell {
    background-color: rgba(47, 144, 185, 0.1);
  }
}