<style>
  :host {
    display: flex;
    width: 100%;
    height: 100%;
  }
</style>
<!-- 左侧 -->
<div class="w-284px h-100% px-16px pt-12px pb-24px flex flex-col">
  <!-- 标题 -->
  <div class="flex gap-10px items-center h-48px">
    <div class="w-32px h-32px flex-center">
      <img
        class="w-24px h-24px"
        src="/assets/manage/classfile.png"
      />
    </div>
    <div class="font-roboto text-18px font-bold leading-24px tracking-0">分类目录</div>
  </div>
  <!-- 分割线 -->
  <mat-divider class="opacity-20 mt-10px! mb-20px!"></mat-divider>
  <!-- 搜索 -->
  <mat-form-field class="example-form-field w-240px">
    <mat-label>搜索你的文件</mat-label>
    <input
      matInput
      type="text"
      [formControl]="fileName"
    />
    @if (fileName.getRawValue()) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="fileName.setValue('')"
    >
      <mat-icon aria-hidden="false">close</mat-icon>
    </button>
    }
  </mat-form-field>
  <!-- 目录 -->
  <main class="h-0 flex-1 mb-18px">
    <hs-tree></hs-tree>
  </main>
  <!-- 新增 -->
  <footer
    class="w-100% h-36px border-1px border-dashed border border-#2f90b960 hover:border-#2f90b9 rounded-8px cursor-pointer flex-center"
  >
    <mat-icon class="mat-icon-rtl-mirror">
      add
    </mat-icon>
    <div class="ml-12px leading-16px">新增</div>
  </footer>
</div>
<mat-divider
  [vertical]="true"
  class="opacity-20 h-full"
></mat-divider>
<!-- 右侧 -->
<div class="w-0 flex-1 h-100%">

</div>