<div class="flex w-full h-full">
  <!-- 目录 -->
  <aside class="h-full w-284px pt-12px px-12px pb-6px">
    <hs-workspace-contorl></hs-workspace-contorl>
  </aside>
  <mat-divider
    [vertical]="true"
    class="h-full"
  ></mat-divider>
  <!-- 右侧 -->
  <div class="flex flex-1 w-0 relative">
    <main class="relative w-full">
      <hs-workspace-viewport></hs-workspace-viewport>
      @if (!formEditorService.fields().length) {
        <div
          class="absolute wh-full flex-col flex-center pb-80px -z-999 opacity-80 top-0"
        >
          <img
            class="w-180px h-180px"
            src="assets/workbench/widget-workbench-tips.png"
          />
          <div class="mt-30px text-18px">拖拽组件到这里来吧！</div>
        </div>
      }
    </main>
  </div>
  <mat-divider
    [vertical]="true"
    class="h-full"
  ></mat-divider>
  <aside class="flex flex-col h-full w-284px py-12px px-12px relative">
    @let tips = '表单设置';
    @let isShowConfigPanel = formEditorService.isShowConfigPanel();
    @let activeFieldTypeName =
      formEditorService.activeField()?.props?.['typeName'];

    @if (!isShowConfigPanel) {
      <hs-workspace-config
        class="h-0 flex-1"
        [selectedField]="formEditorService.widgetConfig()"
      >
        <div class="mb-12px text-20px font-bold py-2px">
          {{ tips }}
        </div>
        <mat-divider class="w-full mb-10px!"></mat-divider>
      </hs-workspace-config>
    } @else {
      <hs-workspace-config
        class="h-0 flex-1"
        [selectedField]="formEditorService.activeField()"
      >
        <div
          class="relative mb-12px flex justify-between items-center line-height-24px"
        >
          {{ activeFieldTypeName }}
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="hideFieldConfig()"
            class="absolute! top-50% right-0 -translate-y-50%"
          >
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        </div>
        <mat-divider class="w-full mb-10px!"></mat-divider
      ></hs-workspace-config>
    }
  </aside>
</div>
