<div class="flex w-full h-full">
  <!-- 目录 -->
  <aside class="h-full w-284px pt-6px px-12px pb-6px">
    <hs-workspace-contorl></hs-workspace-contorl>
  </aside>
  <mat-divider
    [vertical]="true"
    class="opacity-20 h-full"
  ></mat-divider>
  <!-- 右侧 -->
  <div class="flex flex-1 relative">
    <main class="relative flex flex-1">
      <hs-workspace-viewport></hs-workspace-viewport>
      @if (!widgetEditorService.fields().length) {
        <div
          class="absolute wh-full flex-col flex-center pb-80px -z-999 opacity-60"
        >
          <img
            class="w-300px h-300px"
            src="assets/workbench/widget-workbench-tips.png"
          />
          <div class="mt-30px text-20px">拖拽组件到这里来吧！</div>
        </div>
      }
    </main>
    <mat-divider
      [vertical]="true"
      class="opacity-20 h-full"
    ></mat-divider>
    <aside class="flex flex-col h-full w-284px py-8px px-12px relative">
      <!-- 表单配置 -->
      <!-- <div class="py-8px">表单设置</div> -->
      <!-- <hs-workspace-config
        class="h-0 flex-1"
        [selectedField]="widgetEditorService.widgetConfig()"
      ></hs-workspace-config> -->

      <!-- field配置 -->
      <div class="absolute wh-full top-0 left-0 px-12px">
        <hs-workspace-config
          [selectedField]="widgetEditorService.activeField()"
        ></hs-workspace-config>
      </div>
    </aside>
  </div>
</div>
