<div class="flex w-full h-full">
  <aside class="h-full w-284px pt-12px px-16px pb-24px">
    <div class="w-full overflow-hidden">
      <hs-radio
        [configs]="configTypes"
        [rows]="2"
        [(activeValue)]="activeValue"
      ></hs-radio>
    </div>

    <div class="mt-16px"></div>

    <div class="pb-10px">
      <hs-fancytree></hs-fancytree>
    </div>
  </aside>
  <mat-divider
    [vertical]="true"
    class="opacity-20 h-full"
  ></mat-divider>
  <!-- 右侧 -->

  <main class="flex flex-1">
    <content class="flex flex-1 flex-col">
      <header>
        <hs-widget-toobar></hs-widget-toobar>
      </header>

      <mat-divider class="opacity-20 w-full"></mat-divider>

      <div class="render-canvar flex-1 p-12px">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit(model)"
        >
          <formly-form
            [form]="form"
            [fields]="widgetEditorService.fields"
            [model]="model"
          >
            <ng-template
              formlyTemplate
              let-field
            >
              @for (f of field.fieldGroup; track $index) {
              <formly-field [field]="f"> </formly-field>
              }
            </ng-template>
          </formly-form>
        </form>
      </div>
    </content>
    <mat-divider
      [vertical]="true"
      class="opacity-20 h-full"
    ></mat-divider>

    <aside class="h-full w-284px py-8px px-12px">
      <hs-preset-components> </hs-preset-components>
    </aside>
  </main>
</div>
