<style>
  :host {
    display: block;

    .menu-item-active {
      border-left-width: 4px;
      border-color: rgb(22 93 255);
      background-color: rgb(22 93 255 / 0.1);
      color: rgb(22 93 255);
      border-style: solid;

      mat-icon {
        color: rgb(22 93 255);
      }
    }

    .drag-box:not(.cdk-drag-placeholder) {
      /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
    }

    .drag-box.cdk-drag-placeholder {
      border: 1px solid #0e46ff;
      border-radius: 8px;
    }
  }
</style>
<div
  [id]="parentNode()?.id || 'scope'"
  cdkDropList
  [cdkDropListData]="nodes()"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="connectedTo()"
  [cdkDropListEnterPredicate]="canEnter"
  [cdkDropListDisabled]="nodes().length <= 1"
>
  @for (node of nodes(); track $index) {
    <div
      cdkDrag
      class="drag-box"
      (cdkDragStarted)="toggleDragging(true)"
      (cdkDragEnded)="toggleDragging(false)"
    >
      @if (node.type !== 'divider') {
        <div
          class="my-6px p-12px rounded-md cursor-pointer flex items-center"
          [class]="{
            'hover:bg-#eff0f3': !isDragging(),
            'menu-item-active': node.id == selectedNode().id,
          }"
          (click)="selectNode(node)"
        >
          <mat-icon class="mx-8px color-#0e46ff"> app_registration </mat-icon>
          <span class="text-16px w-0 flex-1">{{ node.name }}</span>
          @if (node.children) {
            <mat-icon class="text-18px w-18px! h-18px! color-#999">
              {{ node.children && node.children.length ? 'expand_more' : 'expand_less' }}
            </mat-icon>
          }
        </div>
      }
      @if (node.type === 'divider') {
        <div class="w-full my-6px">
          <mat-divider class="w-full"></mat-divider>
        </div>
      }
      @if (node.children) {
        <hs-menu-live
          [parentNode]="node"
          [nodes]="node.children"
          [connectedTo]="connectedTo()"
          [level]="level() + 1"
          (onDrop)="onDrop.emit()"
        ></hs-menu-live>
      }
    </div>
  }
</div>
