<content
  class="px-16px flex items-center justify-between h-40px line-height-40px bg-##a7c1de"
>
  <div class="flex-center gap-8px">
    <button
      matSuffix
      mat-icon-button
      (click)="toWidgetManage()"
    >
      <mat-icon class="material-icons-round">arrow_back </mat-icon>
    </button>

    <span class="w-180px">XXX部件</span>
  </div>

  <div class="flex-center gap-8px">
    <button
      mat-button
      disabled
      class="btn-run min-w-72px! w-72px! h-32px! p-5px! rounded-5px!"
    >
      <mat-icon class="material-icons-round">play_arrow </mat-icon>
      运行
    </button>

    <button
      mat-raised-button
      disabled
      class="btn-save min-w-72px! w-72px! h-32px! p-5px! rounded-5px!"
    >
      <mat-icon class="material-icons-round">save </mat-icon>
      保存
    </button>
  </div>
</content>
