<content
  class="px-16px flex items-center justify-between h-40px line-height-40px bg-##a7c1de"
>
  <hs-widget-title-back></hs-widget-title-back>

  <div class="flex-center gap-8px">
    <button
      mat-button
      class="btn-run min-w-72px! w-72px! h-32px! p-5px! rounded-5px!"
      (click)="loadCustomComponent()"
    >
      <mat-icon class="material-icons-round">play_arrow </mat-icon>
      运行
    </button>

    <button
      mat-raised-button
      (click)="saveWidgetConfig()"
      class="btn-save min-w-72px! w-72px! h-32px! p-5px! rounded-5px!"
    >
      <mat-icon class="material-icons-round">save </mat-icon>
      保存
    </button>
  </div>
</content>
