<content class="text-14px h-full bg-[var(--base-bg-color)]">
  <header class="px-12px py-16px flex items-center justify-between relative">
    <span>菜单配置</span>

    <button
      mat-icon-button
      class="hs-icon-button-32 absolute-center-y! right-12px"
      (click)="closeSignleConfig()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <mat-divider class="w-full mb-12px!"></mat-divider>

  <div class="pl-12px">
    <!-- <hs-formly-config class="pt-10px!" type="menuSingle" [model]="selectedNode()">
    </hs-formly-config> -->
  </div>
</content>
