<div class="line-height-24px h-24px mb-12px relative">
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="toWidgetManage()"
    [matTooltip]="'返回部件管理'"
    class="absolute! top-50% left-3px -translate-y-50%"
  >
    <mat-icon
      class="material-icons-round"
      matChipAvatar
      >arrow_back
    </mat-icon>
  </button>

  <div class="pl-50px flex">
    <span class="text-20px font-bold mr-8px"
      >{{ activeWidgetTypeName() }} :</span
    >
    <div
      [matTooltip]="activeWidgetName()"
      class="text-16px truncate flex-1 w-0 mt-1px"
    >
      {{ activeWidgetName() }}
    </div>
  </div>
</div>
<mat-divider class="w-full mb-10px!"></mat-divider>

<!-- class - mat-tab-item3-full -->
<mat-tab-group
  animationDuration="0ms"
  headerPosition="below"
  class="h-0 flex-1 hs-density--2"
>
  <mat-tab label="预设">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">widgets</mat-icon>
      预设
    </ng-template>
    <hs-preset-components> </hs-preset-components>
  </mat-tab>
  <mat-tab label="大纲">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_tree</mat-icon>
      大纲
    </ng-template>
    <hs-widget-outline></hs-widget-outline>
  </mat-tab>
</mat-tab-group>
