<header class="mb-12px">
  <hs-widget-title-back></hs-widget-title-back>
</header>
<mat-divider class="w-full mb-10px!"></mat-divider>

<!-- class - mat-tab-item3-full -->
<mat-tab-group
  animationDuration="0ms"
  headerPosition="below"
  class="h-0 flex-1 hs-density--2"
>
  <mat-tab label="预设">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">widgets</mat-icon>
      预设
    </ng-template>
    <hs-preset-components> </hs-preset-components>
  </mat-tab>
  <mat-tab label="大纲">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_tree</mat-icon>
      大纲
    </ng-template>
    <hs-widget-outline></hs-widget-outline>
  </mat-tab>
</mat-tab-group>
