<mat-stepper
  [linear]="isLinear"
  #stepper
>
  @for (f of field.fieldGroup; track $index) {
  <mat-step>
    <ng-template matStepLabel>{{ f.props?.label! }}</ng-template>
    <div class="py-12px">
      <formly-field [field]="f">
      </formly-field>
    </div>
    <div>
      @if ($index !== 0) {
      <button
        mat-button
        matStepperPrevious
      >
        返回
      </button>
      }
      @if ($index !== field.fieldGroup!.length - 1) {
      <button
        mat-button
        matStepperNext
      >
        下一个
      </button>
      }
    </div>
  </mat-step>
  }
</mat-stepper>