<style>
  :host {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>

<div
  class="wh-full flex flex-col relative fullscreen-container"
  hs-fullscreen
  [fullscreen]="fullscreen"
>
  @if (toolbar) {
    <div
      class="h-40px! flex-center justify-between"
      [class]="inline ? 'absolute mt-5px right-12px z-999' : ''"
    >
      @if (title) {
        <div class="ml-5px mr-8px">{{ title }}</div>

        <div class="flex-center gap-5px">
          <button
            mat-raised-button
            class="min-w-40px! w-40px! h-24px! p-5px! rounded-3px!"
            (click)="formatCode()"
          >
            整洁
          </button>

          <button
            mat-raised-button
            class="min-w-40px! w-40px! h-24px! p-5px! rounded-3px!"
            (click)="compressCode()"
          >
            压缩
          </button>

          <button mat-icon-button aria-label="缩放" (click)="fullscreen = !fullscreen">
            @let fullscreenIcon = fullscreen ? 'fullscreen_exit' : 'fullscreen';
            <mat-icon class="material-icons">{{ fullscreenIcon }}</mat-icon>
          </button>
        </div>
      }
    </div>

    <mat-divider class="w-full"></mat-divider>
  }

  <div class="h-0 flex-1">
    <div class="editor wh-full min-h-120px"></div>
  </div>
</div>
