<content
  hs-fullscreen
  class="hs-widget-container overflow-hidden block wh-full relative flex flex-col"
  [fullscreen]="fullscreen"
  [style]="widgetContext.containerStyle"
>
  <button
    mat-icon-button
    (click)="fullscreen = !fullscreen"
    class="absolute! right-12px top-12px z-9!"
  >
    @let fullscreenIcon = fullscreen ? 'fullscreen_exit' : 'fullscreen';
    <mat-icon class="material-icons">{{ fullscreenIcon }}</mat-icon>
  </button>

  @if(widgetContext.showTitle) {
  <div
    [style]="widgetContext.titleStyle"
    class="hs-widget-header"
  >
    @if (widgetContext.showTitleIcon) {
    <mat-icon class="material-icons">{{ widgetContext.icon }}</mat-icon>
    }
    <span>{{widgetContext.title}}</span>
  </div>
  }

  <div class="hs-widget-content flex-1">
    <hs-widget
      [style]="widgetContext.widgetStyle"
      [widgetId]="widgetId()"
    > </hs-widget>
  </div>
</content>