<!-- <fieldset>
  <legend>{{ props.label }}</legend> -->
<!-- 
    cdkDropListOrientation="horizontal"
    cdkDropListGroup
    cdkDropList
    [cdkDropListData]="field.fieldGroup"
    [cdkDropListConnectedTo]="['cdk-group-list']"
    [cdkDropListConnectedTo]="
      widgetEditorService.getConnectedTo(IFieldType.GROUP)
    "
    (cdkDropListDropped)="cdkDropListDropped($event)"
  -->

<!-- 
      cdkDrag
      [cdkDragData]="f"
      (cdkDragStarted)="widgetEditorService.dragStart = true"
      (cdkDragReleased)="widgetEditorService.dragStart = false"
  -->

<!-- @empty {
    <div
      class="text-#a7b1bd border-1px border-solid text-14px border-#ccc min-h-48px flex-center min-w-48px bg-#f1f1f1"
    >
      拖拽组件到这里
    </div>
    } -->
<!-- </div>
</fieldset> -->
<div
  class="grid"
  [style]="field.props?.['styles'] | concatUnits"
  [style.grid-template-columns]="getGridTemplateColumns(field.fieldGroup || [])"
>
  @for (f of field.fieldGroup; track $index) {
  <formly-field [field]="f">
    <div
      class="position-preview w-full border-2px border-dashed"
      *cdkDragPlaceholder
    ></div>
  </formly-field>
  }
</div>
