<style>
  :host {
    width: 100%;
    height: 100%;
  }
</style>
<!-- 右侧 -->
<div class="wh-full flex flex-col">
  <div class="h-56px flex flex-row justify-end items-center px-24px gap-10px">
    <div>
      <mat-button-toggle-group
        [(ngModel)]="displayMode"
        hideSingleSelectionIndicator
        class="hs-density--3 rounded-8px!"
        (change)="displayModeChange()"
      >
        <mat-button-toggle value="card">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list">
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="outline" class="w-252px hs-density--5">
      <input matInput type="text" placeholder="搜索数据源" [formControl]="appName" />
      @if (appName.getRawValue()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="appName.setValue('')"
          class="mr-5px"
        >
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
      }
    </mat-form-field>
    <button mat-flat-button (click)="openDataSourceDialog('create')">新增</button>
  </div>
  <mat-divider></mat-divider>
  <div class="h-0 flex-1">
    @if (displayMode === 'list') {
      <hs-dynamic-table
        class="app-manage-table h-full"
        [tableConfig]="tableConfig()"
      ></hs-dynamic-table>
    } @else {
      <hs-source-card-list [tableConfig]="tableConfig()"></hs-source-card-list>
    }
  </div>
</div>
