<div class="bg-#19282d h-64px flex items-center overflow-hidden">
  <div class="color-#fff w-180px flex-center">HeartSync</div>
  <div class="flex-1 flex">
    @for (item of menuList; track $index) {
      @let isActiveRoute =
        item.path === outlet()!.activatedRoute.routeConfig?.path;
      <div
        class="h-50px line-height-50px rounded-8px"
        [class]="{ 'bg-#2F90B9': isActiveRoute }"
        matRipple
        matRippleColor="#ffffff20"
      >
        <a
          class="w-full h-full block px-16px color-#fff"
          [routerLink]="item.path"
        >
          {{ item.title }}
        </a>
      </div>
    }
  </div>
  <div class="w-auto flex gap-16px items-center px-20px">
    <verse-theme></verse-theme>
    @let systemConfig =
      [
        { iconUrl: '/assets/workbench/settings.png', size: 20 },
        { iconUrl: '/assets/workbench/message.png', size: 24 },
      ];
    @for (item of systemConfig; track $index) {
      <div
        class="bg-#ffffff20 rounded-20px w-40px h-40px flex flex-center cursor-pointer"
        matRipple
        matRippleColor="#ffffff20"
      >
        <img
          [width]="item.size"
          [src]="item.iconUrl"
        />
      </div>
    }
  </div>
  <div class="color-#fff w-180px h-100% flex-center">随心管理员</div>
</div>
