<div class="h-64px bg-#3D3D3D flex items-center">
  <div class="w-180px"></div>
  <div class="flex-1">
    @for (item of menuList; track $index) {
      @if(item.path === outlet()!.activatedRoute.routeConfig?.path){
        <a 
          class="mr-16px"
          mat-flat-button
          [routerLink]="[item.path]"
          >
          {{ item.title }}
        </a>
      } @else {
        <a 
          class="mr-16px"
          mat-button
          [routerLink]="[item.path]"
          >
          {{ item.title }}
        </a>
      }
    }
  </div>
  <div class="w-180px">1</div>
  <div class="w-180px">2</div>
</div>