<style>
  :host {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
@if (!hiddenMenu ) {
<hs-workbench-header
  [outlet]="outlet"
  [logoSkip]="'/workbench/manage'"
>
  @if(!loadingState()) {
    <img
    class="w-32px h-32px mr-8px rounded-8px"
    [src]="imageUrl()"
  />
  <span
    class="flex-1 h-full line-height-64px truncate"
    [matTooltip]="'HeartSync 工作台'"
  >{{ name() }}</span>
  }
</hs-workbench-header>
}

<div class="h-0 flex-1">
  <router-outlet
    #outlet="outlet"
    (activate)="onActivate()"
  ></router-outlet>
</div>