@let connectedTo = widgetEditorService.getConnectedTo(IFieldType.COLUMN);
@let flexDirection = field.props?.['styles']?.flexDirection === 'row';
<div
  [id]="field.fieldId || 'workspace'"
  cdkDropList
  [cdkDropListData]="field.fieldGroup"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="cdkDropListDropped($event)"
  [cdkDropListEnterPredicate]="canEnter"
  [cdkDropListDisabled]="!widgetEditorService.isEditMode()"
  [style]="field.props?.['styles'] | concatUnits"
  [cdkDropListOrientation]="flexDirection ? 'horizontal' : 'vertical'"
  [class]="flexDirection ? 'row-wrapper' : 'column-wrapper'"
  [style.minHeight]="!field.parent && computedViewportHeight"
  class="flex flex-col min-h-48px"
>
  @for (f of field.fieldGroup; track $index) {
    <formly-field
      cdkDrag
      [cdkDragData]="getDragFieldData(f)"
      [field]="f"
      [cdkDragDisabled]="!f._design"
      (cdkDragStarted)="widgetEditorService.dragStart = true"
      (cdkDragReleased)="widgetEditorService.dragStart = false"
    >
      <div
        class="position-preview border-3px border-solid border-#2f90b9"
        *cdkDragPlaceholder
      ></div>
    </formly-field>
  }
</div>
@if (!field.fieldGroup?.length && field._design) {
  <div class="absolute -z-1 wh-full min-h-48px py-6px top-0">
    <div
      class="placeholder-tips truncate text-14px text-center line-height-36px font-normal"
    >
      拖拽组件到这里
    </div>
  </div>
}
