@let connectedTo = widgetEditorService.getConnectedTo(IFieldType.COLUMN);
<div
  [id]="field.fieldId || 'workspace'"
  cdkDropList
  [cdkDropListData]="field.fieldGroup"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="cdkDropListDropped($event)"
  [cdkDropListEnterPredicate]="canEnter"
  [cdkDropListDisabled]="!widgetEditorService.isEditMode()"
  [style]="field.props?.['styles'] | concatUnits"
  class="flex flex-col min-h-36px"
>
  @for (f of field.fieldGroup; track $index) {
    <formly-field
      cdkDrag
      [cdkDragData]="getDragFieldData(f)"
      [field]="f"
      [cdkDragDisabled]="!f._design"
      (cdkDragStarted)="widgetEditorService.dragStart = true"
      (cdkDragReleased)="widgetEditorService.dragStart = false"
    >
      <div
        class="position-preview w-full h-3px border-3px border-solid border-#2f90b9"
        *cdkDragPlaceholder
      ></div>
    </formly-field>
  }
</div>
@if (!field.fieldGroup?.length && field._design) {
  <div
    class="-z-888 absolute wh-full flex-center top-0 text-#a7b1bd border-1px border-solid text-14px border-#ccc min-h-36px bg-#f1f1f1"
  >
    拖拽组件到这里
  </div>
}
