<content class="text-14px">
  <header class="px-12px py-16px flex items-center relative">
    <span>全局配置</span>
  </header>

  <mat-divider class="w-full mb-12px!"></mat-divider>

  <div class="px-12px">
    <div class="mb-8px">
      <div class="mb-12px color-[var(--base-color-70)]">菜单样式</div>

      <div class="flex flex-wrap gap-8px">
        @for (item of menuThemes; track $index) {
          <div
            class="flex-basis-[calc((100%-2*8px)/3)] p-2px rounded-5px flex items-center justify-between cursor-pointer border-line box-border border-color-transparent hover:border-color-#eee"
            [class]="avtiveTheme === item.id ? 'border-line border-color-#0e46ff!' : ''"
            (click)="avtiveTheme = item.id"
          >
            <div
              class="w-18px h-18px rounded-5px mr-3px"
              [style.background]="item.background"
            ></div>
            <span class="text-12px">{{ item.name }}</span>
          </div>
        }
      </div>
    </div>

    <div class="mb-16px">
      <div class="mb-12px color-[var(--base-color-70)]">自定义样式</div>
      <div class="flex items-center gap-12px text-12px mb-12px">
        @let selects =
          [
            { name: '常态样式', id: '' },
            { name: '悬停样式', id: '' },
            { name: '选中样式', id: '' },
          ];
        @for (item of selects; track $index) {
          <div class="p-8px bg-#eee rounded-8px cursor-pointer">{{ item.name }}</div>
        }
      </div>
      <div class="">
        <mat-form-field class="hs-density--5" appearance="outline">
          <mat-label>文字颜色</mat-label>
          <!-- <input matInput placeholder="请输入文字颜色" /> -->
          <input
            matInput
            color-picker
            [cpOutputFormat]="'rgba'"
            [(colorPicker)]="formControl.value"
            [style.background]="formControl.value"
            (colorPickerChange)="formControl.setValue($event)"
            [value]="formControl.value"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</content>
