@let type = formEditorService.widgetConfig().workSizeConfig?.['type']!;
@let viewportSize = viewportConfig[type || 'fill'];
@let isEditMode = formEditorService.isEditMode();
@let isFieldsEmpty = formEditorService.fields().length;

<content class="flex flex-1 flex-col h-full relative">
  <!-- 预览保存 -->
  <header>
    <hs-workspace-toobar></hs-workspace-toobar>
  </header>

  <mat-divider class="w-full"></mat-divider>

  <!-- 视图 -->
  <div
    [class.viewport-wrapper-bg]="!isEditMode"
    class="viewport-wrapper flex-1 h-0 flex-center relative overflow-auto"
  >
    <!-- widget容器 -->
    <!-- {{ ZoomControl()?.transformScale() }} -->
    <div
      cdkDrag
      [cdkDragDisabled]="!ZoomControl()?.isMovable()"
      [style]="viewportSize"
      [style.transform]="ZoomControl()?.transformScale()"
      [class.viewport-border]="type !== 'fill' && viewportSize"
      class="widget-viewport-wrapper"
    >
      <!-- 遮罩层 -->
      @if (!isEditMode) {
        <!-- (dblclick)="formEditorService.checkEditModeState(true)" -->
        <div class="viewport-overlay-layer flex-center">
          <button
            mat-flat-button
            (click)="formEditorService.checkEditModeState(true)"
            class="px-16px! mx-8px"
          >
            <mat-icon matChipAvatar>design_services</mat-icon> 去设计
          </button>
        </div>
      }

      <!-- 内容 -->
      <div
        [class.viewport-content-bg]="isFieldsEmpty"
        class="wh-full"
      >
        <ng-scrollbar
          class="wh-full!"
          #scrollbarRef="ngScrollbar"
          externalViewport
          visibility="hover"
          appearance="compact"
          orientation="auto"
        >
          <div scrollViewport>
            <div class="render-canvar">
              <formly-form
                [form]="formEditorService.formGroup"
                [fields]="formEditorService.fields()"
                [model]="formEditorService.model"
                [options]="formEditorService.options"
              ></formly-form>
            </div>
          </div>
        </ng-scrollbar>
      </div>

      <!-- 无配置时提示 -->
      @if (!isFieldsEmpty) {
        <div
          class="absolute top-0 left-0 wh-full flex-col flex-center pb-80px -z-999 opacity-80"
        >
          <img
            class="w-180px h-180px"
            src="assets/workbench/widget-workbench-tips.png"
          />
          <div class="mt-30px text-18px">暂无内容，拖拽组件进来吧！</div>
        </div>
      }
    </div>
  </div>

  <!-- 缩放控制器 -->
  @if (!isEditMode) {
    <hs-workspace-zoom
      #ZoomControl
      class="absolute left-50% -translate-50% top-90px"
    ></hs-workspace-zoom>
  }
</content>
