@let connectedTo = widgetEditorService.getConnectedTo(IFieldType.MATTABS);
<mat-tab-group
  cdkDropList
  cdkDropListOrientation="horizontal"
  animationDuration="0ms"
  [id]="field.fieldId!"
  [cdkDropListConnectedTo]="connectedTo"
  [cdkDropListData]="field.fieldGroup"
  (cdkDropListDropped)="cdkDropListDropped($event)"
  cdkDropListElementContainer=".mat-mdc-tab-labels"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
>
  @for (f of field.fieldGroup; track $index) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span
          cdkDrag
          [cdkDragDisabled]="!f._design"
          cdkDragPreviewClass="example-drag-tabs-preview"
          cdkDragRootElement=".mat-mdc-tab"
          [cdkDragData]="getDragFieldData(f)"
          >{{ f.props?.label! }}</span
        >
      </ng-template>
      <formly-field [field]="f">
        <div
          class="position-preview w-full border-2px border-dashed"
          *cdkDragPlaceholder
        ></div>
      </formly-field>
    </mat-tab>
  }
</mat-tab-group>
