@let isForm = fileShowType === 'form';
<content
  class="flex items-center relative cursor-pointer w-full"
  [class]="isForm ? 'qy-upload-file-border p-5px' : ''"
>
  @switch (fileShowType) {
    @case ('form') {
      <div
        class="w-full flex"
        [ngClass]="{ 'flex-col flex-1': isFile }"
      >
        @if (fold && fileData.length > foldStartIndex) {
          <!-- 扩展按钮 -->
          <div
            class="flex-center p-3px"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="isOpen = !isOpen"
          >
            <div class="relative">
              <span class="color-#5182e4"> ··· </span>
              <span
                class="absolute w-16px h-16px top-0 bg-#d1e4ff color-#1a79ff rounded-10px -right-22px line-height-16px text-center text-12px"
                style="width: 16px !important"
                >{{ fileData.length }}</span
              >
            </div>
          </div>
          <!-- 扩展数据 -->
          <ng-template
            cdkConnectedOverlay
            centerHorizontallys
            [cdkConnectedOverlayOrigin]="trigger!"
            [cdkConnectedOverlayOpen]="isOpen"
            [cdkConnectedOverlayPositions]="overlayPositions"
            OverlayKeyboardDispatcher
          >
            <div
              *ngIf="fileData.length > 1"
              class="w-full flex flex-col relative cursor-pointer min-w-250px rounded-8px p-5px shadow-2xl qy-upload-file-border"
              style="background-color: var(--base-bg-color)"
              [style]="{ width: fileOverlayWidth }"
            >
              <div class="flex justify-end">
                <button
                  mat-icon-button
                  (click)="isOpen = !isOpen"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>

              <mat-divider class="pt-6px"></mat-divider>
              <ng-container
                *ngTemplateOutlet="
                  FileList;
                  context: { fileData: fileData.slice(3) }
                "
              >
              </ng-container>
            </div>
          </ng-template>
        }
      </div>
    }
    @case ('detail') {}
  }
</content>
<ng-template
  #FileList
  let-fileData="fileData"
  let-index="index"
  let-length="length"
>
  <ng-scrollbar
    class="w-full!"
    [ngClass]="{
      'h-full': fileData.length < 8,
      'h-250px': isFile && fileData.length >= 8,
      'h-294px': !isFile && fileData.length >= 13,
    }"
    #scrollbarRef="ngScrollbar"
    externalViewport
    visibility="hover"
    appearance="compact"
    orientation="auto"
  >
    <div scrollViewport>
      <div class="flex flex-wrap">
        @for (fileItemData of fileData; track $index) {
          @let isError = fileItemData.status === 'error';
          @let isSuccess = fileItemData.status === 'done';

          <!-- isFile 为 true 时的渲染逻辑 -->
          @if (isFile) {
            <div class="w-full">
              <div class="relative">
                <div class="p-5px qy-file-item">
                  <div
                    class="flex items-center cursor-pointer relative overflow-hidden group"
                  >
                    <img
                      hs-image-preview
                      [src]="fileItemData.url"
                      [previewSrc]="fileItemData.url"
                      class="w-40px h-40px"
                      [ngClass]="{ 'opacity-50': isError }"
                      (click)="preview(fileItemData)"
                    />

                    <!-- 文件名称 -->
                    <span
                      class="w-0 flex-1 ml-8px truncate text-14px"
                      [ngClass]="{
                        'color-#5182e4': !isError,
                        'color-red line-through!': isError,
                      }"
                    >
                      {{ fileItemData.name }}
                    </span>

                    <!-- 操作符 -->
                    <div class="z-999 relative">
                      <hs-file-handle
                        [fileItemData]="fileItemData"
                        [preview]="false"
                        [download]="!isForm"
                      ></hs-file-handle>
                    </div>

                    <!-- 上传过程中文件的进程 -->
                    @if (!isError && !isSuccess && fileItemData.status) {
                      <div
                        class="absolute wh-full top-0 left-0 qy-file-shade-30"
                      ></div>
                      <style>
                        mat-progress-bar {
                          width: calc(100% - 12px);
                        }
                      </style>
                      <mat-progress-bar
                        class="absolute! left-6px top-10% -translate-y-50% bottom-3px z-999"
                        [mode]="'buffer'"
                        [value]="fileItemData.progress"
                        [bufferValue]="0"
                      ></mat-progress-bar>
                    }
                  </div>
                </div>
              </div>

              <!-- 分隔线 -->
              @if ($index < length - 1) {
                <mat-divider class="w-full"></mat-divider>
              }
            </div>
          }

          <!-- isFile 为 false 时的渲染逻辑 -->
          @else {
            <div class="flex flex-row flex-wrap">
              <div class="relative p-3px">
                <div
                  class="p-5px qy-upload-file-border"
                  [ngClass]="{ 'border-#ff4d4f!': isError }"
                >
                  <div
                    class="flex items-center cursor-pointer relative overflow-hidden group"
                  >
                    <img
                      hs-image-preview
                      [src]="fileItemData.url"
                      [previewSrc]="fileItemData.url"
                      class="w-80px h-80px"
                      [ngClass]="{ 'opacity-50': isError }"
                      (click)="preview(fileItemData)"
                    />

                    <!-- 操作符 -->
                    <div
                      class="z-999 absolute wh-full top-0 left-0 hidden group-hover:block qy-file-shade-80"
                    >
                      <hs-file-handle
                        [fileItemData]="fileItemData"
                        [preview]="true"
                        [download]="!isForm"
                      ></hs-file-handle>
                    </div>

                    <!-- 上传过程中文件的进程 -->
                    @if (!isError && !isSuccess && fileItemData.status) {
                      <div
                        class="absolute wh-full top-0 left-0 qy-file-shade-30"
                      ></div>
                      <style>
                        mat-progress-bar {
                          width: calc(100% - 12px);
                        }
                      </style>
                      <mat-progress-bar
                        class="absolute! left-6px top-10% -translate-y-50% bottom-3px z-999"
                        [mode]="'buffer'"
                        [value]="fileItemData.progress"
                        [bufferValue]="0"
                      ></mat-progress-bar>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </ng-scrollbar>
</ng-template>
