@use '@angular/material' as mat;
$base-radius: 8px;

.hs-density--5{
  @include mat.theme((density: -5));
}

.hs-density--4{
  @include mat.theme((density: -4));
}

.hs-density--3{
  @include mat.theme((density: -3));
}

.hs-density--2{
  @include mat.theme((density: -2));
}

.hs-density--1{
  @include mat.theme((density: -1));
}

.hs-density-0{
  @include mat.theme((density: 0));
}

.mdc-button{
  // --mat-sys-corner-full: 8px;

  @include mat.theme((
    density: -1
  ));
}

.mat-mdc-option{
  min-height: 32px !important;
}

.mdc-button {
  --mat-sys-corner-full: 8px;
  --mat-filled-button-horizontal-padding: 16px;
}

.mat-mdc-select{
  --mat-select-trigger-text-size: 14px;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

