<content class="wh-full" hs-loading [isLoading]="isLoading()">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="wh-full hs-tab-item-indicator-full"
  >
    <mat-tab class="color-[var(--title-text-color)]!">
      <ng-template mat-tab-label>
        <mat-icon class="text-20px w-20px! h-20px! mr-6px"> security </mat-icon>
        <span>权限</span> </ng-template
      ><hs-role-permission [roleId]="roleId()"></hs-role-permission>
    </mat-tab>
    <mat-tab class="color-[var(--title-text-color)]!">
      <ng-template mat-tab-label>
        <mat-icon class="text-20px w-20px! h-20px! mr-6px"> person </mat-icon>
        <span>用户</span>
      </ng-template>
      <hs-role-user-list [roleMapping]="roleMapping()"></hs-role-user-list>
    </mat-tab>
    <mat-tab class="color-[var(--title-text-color)]!">
      <ng-template mat-tab-label>
        <mat-icon class="text-20px w-20px! h-20px! mr-6px"> group_work </mat-icon>
        <span>关联角色</span>
      </ng-template>
      <hs-role-liitosrooli [roleId]="roleId()"></hs-role-liitosrooli>
    </mat-tab>
    <mat-tab class="color-[var(--title-text-color)]!">
      <ng-template mat-tab-label>
        <mat-icon class="text-20px w-20px! h-20px! mr-6px"> tune </mat-icon>
        <span>属性</span>
      </ng-template>
      <hs-role-attributes [roleMapping]="roleMapping()"></hs-role-attributes>
    </mat-tab>
    <mat-tab class="color-[var(--title-text-color)]!">
      <ng-template mat-tab-label>
        <mat-icon class="text-20px w-20px! h-20px! mr-6px"> info </mat-icon>
        <span>详情</span>
      </ng-template>
      <hs-role-mapping [roleMapping]="roleMapping()"></hs-role-mapping>
    </mat-tab>
  </mat-tab-group>
</content>
