<div
  hs-loading
  [isLoading]="loadingStatus"
  class="app-card wh-full p-24px grid grid-cols-4 gap-24px"
>
  @for (item of dataSource(); track $index) {
    <div
      class="hs-basic-card cursor-pointer flex flex-col min-w-320px p-24px h-178px rounded-12px"
    >
      <div class="flex h-52px gap-10px">
        <img
          [src]="item.imageUrl"
          class="w-52px h-52px rounded-12px"
        />
        <div class="w-0 flex-1">
          <div class="line-height-28px text-18px font-800">{{ item.name }}</div>
          <div class="text-14px line-height-20px color-#6B7280">
            {{ item.description }}
          </div>
        </div>
      </div>
      <div class="flex items-center text-14px h-0 flex-1 color-#6B7280">
        <span>最近更新：</span>
        <div>{{ item.updatedAt | date: 'YYYY-MM-dd' }}</div>
        &nbsp; &nbsp;
        <span>更新人：</span>
        <div>{{ item.updatedBy || '不读诗意' }}</div>
      </div>
      <div class="flex justify-between h-24px line-height-16px">
        <div class="flex gap-8px h-full text-12px">
          <span class="rounded-4px py-4px px-8px bg-#2563EB20 color-#2563EB"
            >生产环境</span
          >
          <span class="rounded-4px py-4px px-8px bg-#16A34A20 color-#16A34A"
            >正常运行</span
          >
        </div>
        <div class="w-0 flex-1 flex items-center justify-end h-full">
          <button
            mat-icon-button
            class="hs-icon-button-32"
            (click)="actionColumn()[0].action(item, $event)"
          >
            <mat-icon class="w-16px! h-16px! text-16px! color-#999"
              >border_color</mat-icon
            >
          </button>
          <mat-divider
            [vertical]="true"
            class="h-full"
          ></mat-divider>
          <button
            mat-icon-button
            #menuTrigger
            [matMenuTriggerFor]="menu"
            class="hs-icon-button-32"
          >
            <!-- <mat-icon class="color-#999">remove_red_eye</mat-icon> -->
            <mat-icon class="color-#999">delete</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="
                actionColumn()[1].action(item, $event); $event.stopPropagation()
              "
            >
              {{ actionColumn()[1].moreName }}
            </button>
          </mat-menu>
          <!-- <mat-divider
            [vertical]="true"
            class="h-full"
          ></mat-divider> -->
          <!-- <button
            mat-icon-button
            class="hs-icon-button-32"
          >
            <mat-icon class="color-#999">more_horiz</mat-icon>
          </button> -->
        </div>
      </div>
    </div>
  }
</div>
