<div mat-dialog-title>新增记录</div>
<mat-divider></mat-divider>
<mat-dialog-content class="h-0 flex-1 max-h-none!">
  <content
    class="wh-full flex hs-density--5"
    [formGroup]="recordForm"
  >
    <main class="w-65% h-full gap-12px pr-8px flex flex-col">
      <div class="w-full flex-1 min-h-200px">
        <mat-form-field
          class="wh-full min-h-200px"
          appearance="outline"
        >
          <textarea
            matInput
            placeholder="记录生活事"
            style="resize: none"
            formControlName="content"
            class="h-full"
          ></textarea>
        </mat-form-field>
      </div>
      <div>
        <!-- <div
          class="w-100px h-100px min-w-100px min-h-100px mb-12px h-full flex-center rounded-5px file-upldate"
        > -->
        <!-- <mat-icon>add</mat-icon> -->
        <!-- </div> -->
        <hs-upload-flie 
          fileShowType="form" 
          [isFile]="false"
        ></hs-upload-flie>
      </div>
    </main>
    <!-- <mat-divider
      style="height: calc(100% - 20px)"
      vertical="true"
    ></mat-divider> -->
    <aside class="w-35% pl-8px">
      <mat-form-field
        class="w-full mb-4px"
        appearance="outline"
      >
        <mat-label>标题</mat-label>
        <input
          matInput
          style="resize: none"
          formControlName="title"
        />
      </mat-form-field>
      <mat-list>
        <mat-list-item
          class="h-64px!"
          matRipple
          [matRippleColor]="matRippleColor()"
        >
          <mat-icon
            matListItemIcon
            class="mt-22px!"
            >my_location</mat-icon
          >
          <span matListItemTitle>所在位置</span>
          <span>福建省福州市仓山区</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item
          class="h-64px!"
          matRipple
          [matRippleColor]="matRippleColor()"
        >
          <mat-icon
            matListItemIcon
            class="mt-22px!"
            >remove_red_eye</mat-icon
          >
          <span matListItemTitle>查看范围</span>
          <span>所有人</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </aside>
  </content>
</mat-dialog-content>
<mat-divider>location</mat-divider>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >
    取消
  </button>
  <button
    mat-flat-button
    (click)="submit()"
  >
    确定
  </button>
</mat-dialog-actions>
