@import "themeMixin";

.themeMixin({
  :host {
    display: block;

    table {
      width: 100%;
      max-width: 100%;
      display: table;
      table-layout: auto;
      border-collapse: separate;
      margin: 0px;
      border-collapse: separate;

      ::ng-deep {
        .mdc-data-table__cell, .mdc-data-table__header-cell {
          padding: 8px 16px;
        }
      }
    }
  }
});