<content class="wh-full flex flex-col">
  <ng-scrollbar
    class="relative"
    externalViewport
    visibility="hover"
    appearance="compact"
    class="h-0 flex-1"
  >
    <section
      tabindex="0"
      scrollViewport
    >
      <table
        mat-table
        [dataSource]="dataSource"
      >
        @for (column of tableColumn(); track $index) {
          @if(column.type === ColumnType.SELECTION) {
            <ng-container matColumnDef="selection">
              <th
                mat-header-cell
                *matHeaderCellDef
              >
                <mat-checkbox
                  (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
              >
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>
          }@else{
            <ng-container matColumnDef="{{ column.prop }}">
              <div>
                <th
                  mat-header-cell
                  *matHeaderCellDef
                >
                  <b>{{ column.label }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let data"
                >
                @switch (column.type) {
                  @case (ColumnType.TEXT) {
                    {{ data[column.prop] }}
                  }
                  @case (ColumnType.CUSTOM) {
                    <img 
                      hs-image-preview 
                      class="w-40px h-40px" 
                      [src]="data[column.prop]"
                      [previewSrc]="data[column.prop]" 
                    />
                  }
                  @case (ColumnType.DATE) {
                    {{ column.format(data[column.prop])  }}
                  }
                  @case (ColumnType.IMG) {
                    <img 
                      hs-image-preview 
                      class="w-40px h-40px" 
                      [src]="data[column.prop]"
                      [previewSrc]="data[column.prop]" 
                    />                  
                  }
                  @case (ColumnType.TAG) {
                    <mat-chip-set aria-label="Dog selection">
                      <!-- {{data[column.prop]}} -->
                      @for (chip of column.getChips(data[column.prop]); track $index) {
                        <mat-chip
                          [color]="column.getColor(chip)"
                          [disabled]="chip.disabled"
                          [removable]="chip.removable"
                        >
                          {{ column.getLabel(chip) }}
                          <mat-icon *ngIf="chip.removable" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                      }
                    </mat-chip-set>
                  }
                  @case (ColumnType.ACTION) {
                    @for (action of column.config; track $index) {
                      <button
                        mat-button
                        (click)="action.action(data, $event)"
                      >
                        {{ action.name }}
                      </button>
                    }
                  }
                }
                </td>
              </div>
            </ng-container>
          }


        }

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns(); sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns()"
          (click)="selection.toggle(row)"
          class="cursor-pointer"
        ></tr>
      </table>
    </section>
  </ng-scrollbar>

  <mat-divider></mat-divider>

  @let matchLayout = tableConfig().matchLayout;
  @let pageSizeOptions = matchLayout('sizes') ? tableConfig().pageSizes : [];
  <mat-paginator #paginator
                [length]="pageLink().total"
                [pageIndex]="pageLink().page"
                [pageSize]="pageLink().pageSize"
                [showFirstLastButtons]="matchLayout('first/last')"
                [hidePageSize]="!matchLayout('sizes')"
                [pageSizeOptions]="pageSizeOptions"
                [disabled]="tableConfig().pageDislabled"
                (page)="onPageChange($event)">
  </mat-paginator>
</content>
