<div mat-dialog-title>重置密码</div>
<mat-divider></mat-divider>
<mat-dialog-content class="h-0 flex-1 max-h-none! hs-density--5">
  <div class="flex mb-6 items-center">
    <label class="w-160px text-right mr-20px"> 用户：</label>
    <mat-form-field appearance="outline" class="flex-1">
      <input
        readonly
        matInput
        [value]="username()"
        class="w-full p-2 border border-gray-300 rounded-md"
    /></mat-form-field>
  </div>
  <hs-password-form></hs-password-form>
</mat-dialog-content>
<mat-divider>location</mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-flat-button (click)="onSubmit()">确定</button>
</mat-dialog-actions>
