<cdk-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
>
  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node
    *cdkTreeNodeDef="let node"
    cdkTreeNodePadding
    cdkTreeNodePaddingIndent="30px"
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    (click)="node.isExpanded = !node.isExpanded"
    (keydown.space)="node.isExpanded = !node.isExpanded"
    cdkTreeNodeToggle
    class="example-tree-node"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button
      mat-icon-button
      disabled
    ></button>
    <mat-icon class="mat-icon-rtl-mirror mr-10px">
      description
    </mat-icon>
    {{node.name}}
  </cdk-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node
    *cdkTreeNodeDef="let node; when: hasChild"
    cdkTreeNodePadding
    cdkTreeNodePaddingIndent="30px"
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    (click)="node.isExpanded = !node.isExpanded"
    (keydown.space)="node.isExpanded = !node.isExpanded"
    cdkTreeNodeToggle
    class="example-tree-node"
  >
    <button
      mat-icon-button
      cdkTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
      (click)="node.isExpanded = !node.isExpanded"
      [style.visibility]="node.expandable ? 'visible' : 'hidden'"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon class="mat-icon-rtl-mirror mr-10px">
      {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
    </mat-icon>
    {{node.name}}
  </cdk-tree-node>
</cdk-tree>