:host {
  font-size: 14px;
  .example-tree-node {
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      background: rgba(47, 143, 185, .1);    
    }
    // gap: 10px;
  }
}
 