<style>
  :host {
    display: block;
    user-select: none;
    /* 现代浏览器 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .menu-item-active {
      border-left-width: 4px;
      border-color: rgb(22 93 255);
      background-color: rgb(22 93 255 / 0.1);
      color: rgb(22 93 255);
      border-style: solid;

      mat-icon {
        color: rgb(22 93 255);
      }
    }

    .drag-box:not(.cdk-drag-placeholder) {
      /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
    }

    .drag-box.cdk-drag-placeholder {
      border: 1px solid #0e46ff;
      border-radius: 8px;
    }
  }
</style>
<ul
  [id]="parentNode()?.id || 'scope'"
  cdkDropList
  [cdkDropListData]="nodes()"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="connectedTo()"
  [cdkDropListEnterPredicate]="canEnter"
  [cdkDropListDisabled]="nodes().length <= 1"
>
  @for (node of nodes(); track $index) {
  <li
    cdkDrag
    class="drag-box"
    (cdkDragStarted)="toggleDragging(true)"
    (cdkDragEnded)="toggleDragging(false)"
  >
    @let style =
    (node.menuType === 'parent' ? parentDefaultStyle() : childrenDefaultStyle()) | concatUnits;
    @if (node.type !== 'divider') {
    <div
      class="cursor-pointer flex items-center box-content"
      (click)="selectNode(node)"
      [style]="style"
    >
      @let className =
      node.menuType === 'parent' ? 'hs-menu-item-parent' : 'hs-menu-item-children';
      <div
        class="w-full absolute left-0 h-32px -z-1 box-content"
        [style]="style"
        [class]="[className, node.id == selectedNode().id ? 'active' : '']"
      ></div>
      <hs-icon
        [iconConfig]="node.icon"
        [isDesign]="false"
      ></hs-icon>
      <span class="w-0 flex-1">{{ node.name }}</span>
      @if (node.children) {
      <mat-icon class="text-18px w-18px! h-18px! color-#999">
        {{ node.menuType === 'parent' ? 'expand_less' : '' }}
      </mat-icon>
      }
    </div>
    }
    @if (node.type === 'divider') {
    <div class="w-full my-6px">
      <mat-divider class="w-full"></mat-divider>
    </div>
    }
    @if (node.children) {
    <hs-menu-live
      [parentNode]="node"
      [nodes]="node.children"
      [connectedTo]="connectedTo()"
      [level]="level() + 1"
      (onDrop)="onDrop.emit()"
    ></hs-menu-live>
    }
  </li>
  }
</ul>