<div class="line-height-24px h-24px relative flex items-center">
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="toWidgetManage()"
    [matTooltip]="'返回部件管理'"
    class="absolute! top-50% left-3px -translate-y-50%"
  >
    <mat-icon
      class="material-icons-round"
      matChipAvatar
    >arrow_back
    </mat-icon>
  </button>

  <div class="pl-50px flex items-center">
    <span class="text-20px font-bold mr-8px">{{ activeWidgetTypeName() }} :</span>
    <div
      [matTooltip]="activeWidgetName()"
      class="text-16px truncate w-120px max-w-120px mt-1px"
    >
      {{ activeWidgetName() }}
    </div>
  </div>

  <button
    mat-button
    (click)="toggleHeaderMenu(!showHeaderMenu())"
  >
    <mat-icon
      class="transition-transform duration-500 ease-in-out"
      [class]="showHeaderMenu() ? '' : '-rotate-180'"
    >
      keyboard_arrow_down
    </mat-icon>{{showHeaderMenu() ? '收起' : '展开'}}
  </button>
</div>