@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import 'jquery-ui/dist/themes/ui-darkness/jquery-ui.min.css';
@import "./themes/dark.less";


body {
  .text-bg-color();
  --mat-sys-corner-full: 8px;
}


ul.ui-widget-content {
  .text-bg-color();
}

.text-bg-color {
  color: @base-text-color;
  background-color: @base-bg-color;
}

// 滚动条全局样式
ng-scrollbar {
  --scrollbar-thickness: 7;
  --scrollbar-hover-thickness: 7;
  // --scrollbar-offset: 16;
  // --scrollbar-track-color: rgb(0 0 0 / 10%);
  --scrollbar-thumb-color: rgb(255 255 255 / 20%);
  --scrollbar-thumb-hover-color: rgb(255 255 255 / 30%);
  --scrollbar-border-radius: 7px;
}

// 拖拽时的占位预览线
// .cdk-drag-placeholder {
//   border-color: @base-text-color;
// }