@use '@angular/material'as mat;
$base-radius: 8px;

.hs-density--5 {
  @include mat.theme((density: -5));
}

.hs-density--4 {
  @include mat.theme((density: -4));
}

.hs-density--3 {
  @include mat.theme((density: -3));
}

.hs-density--2 {
  @include mat.theme((density: -2));
}

.hs-density--1 {
  @include mat.theme((density: -1));
}

.hs-density--0 {
  @include mat.theme((density: 0));
}

html {
  // 输入框聚焦边框宽度
  --mdc-outlined-text-field-focus-outline-width: 1px;
  // 文字大小
  --mat-form-field-container-text-size: 0.9rem;

  --mat-form-field-outlined-label-text-populated-size: 1rem;

  // 按钮
  .mdc-button {
    --mat-sys-corner-full: 8px;
    --mat-filled-button-horizontal-padding: 16px;
    --mdc-protected-button-container-color: none;
  }

  // 选择框文字大小
  --mat-select-trigger-text-size: 14px;

  // 弹窗
  --mdc-dialog-container-shape: 12px;

  // 步进器背景
  --mat-stepper-container-color: none;

  // 手风琴背景
  --mat-expansion-container-background-color: none;

  // 表格背景
  --mat-table-background-color: none
}

.mdc-button {
  // --mat-sys-corner-full: 8px;

  @include mat.theme((density: -1));
}

.mat-mdc-option {
  min-height: 32px !important;
}

// 输入框底部校验提示
.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

// tab 选项宽度
.mat-tab-item3-full {
  &.mat-mdc-tab-group {
    width: 100%;
  }

  mat-tab-header {
    width: 100%;

    .mat-mdc-tab-label-container {
      width: 100%;

      .mat-mdc-tab-list {
        width: 100%;

        .mat-mdc-tab-labels {
          width: 100%;

          .mat-mdc-tab {
            min-width: calc(100% / 3);
            max-width: calc(100% / 3);
            padding: 0 16px;
          }
        }
      }
    }
  }
}