@use '@angular/material' as mat;
$base-radius: 8px;

.hs-density--5 {
  @include mat.theme(
    (
      density: -5,
    )
  );
}

.hs-density--4 {
  @include mat.theme(
    (
      density: -4,
    )
  );
}

.hs-density--3 {
  @include mat.theme(
    (
      density: -3,
    )
  );
}

.hs-density--2 {
  @include mat.theme(
    (
      density: -2,
    )
  );
}

.hs-density--1 {
  @include mat.theme(
    (
      density: -1,
    )
  );
}

.hs-density--0 {
  @include mat.theme(
    (
      density: 0,
    )
  );
}

@include mat.form-field-overrides(
  (
    disabled-input-text-placeholder-color: var(--base-placeholder-text-color),
    filled-input-text-placeholder-color: var(--base-placeholder-text-color),
    outlined-input-text-placeholder-color: var(--base-placeholder-text-color),
  )
);

@include mat.tabs-overrides(
  (
    active-label-text-color: var(--mat-sys-primary),
    active-hover-label-text-color: var(--mat-sys-primary),
    active-focus-label-text-color: var(--mat-sys-primary),
    inactive-label-text-color: var(--title-text-color),
    inactive-hover-label-text-color: var(--title-text-color),
    inactive-focus-label-text-color: var(--title-text-color),
  )
);

.hs-icon-button-24 {
  &.mdc-icon-button {
    width: 24px;
    height: 24px;
    font-size: 20px;
    padding: 2px;

    .mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }
}

.hs-icon-button-32 {
  &.mdc-icon-button {
    width: 32px;
    height: 32px;
    font-size: 20px;
    padding: 6px;

    .mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    .mat-mdc-button-touch-target {
      width: 32px;
      height: 32px;
    }
  }
}

.hs-tab-item-indicator-full {
  .mat-mdc-tab-label-container {
    border: none;
    .mat-mdc-tab-labels {
      padding: 4px;
      border-radius: 8px;
      width: var(--mat-tab-label-container-width, fit-content);
      background-color: var(--mat-tab-label-container-bg-color, rgba(47, 143, 185, 0.1));
      margin-bottom: 8px;
      .mdc-tab.mat-mdc-tab,
      .mat-ripple.mat-mdc-tab-ripple {
        border-radius: 8px;
      }
      .mdc-tab-indicator {
        border-radius: 8px;
        .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: var(--mdc-tab-indicator-content-bg-color, #fff);
          border-radius: 8px;
          border: none;
        }
      }
    }
  }
}

html {
  // 按钮
  .mdc-button {
    --mat-sys-corner-full: 8px;
    --mat-filled-button-horizontal-padding: 16px;
    --mdc-protected-button-container-color: none;
  }

  // 输入框聚焦边框宽度
  --mdc-outlined-text-field-focus-outline-width: 1px;
  // 文字大小
  --mat-form-field-container-text-size: 0.9rem;
  --mat-form-field-outlined-label-text-populated-size: 1rem;
  // 选择框文字大小
  --mat-select-trigger-text-size: 0.9rem;
  --mat-option-label-text-size: 0.9rem;
  // 弹窗
  --mdc-dialog-container-shape: 12px;
  // 步进器背景
  --mat-stepper-container-color: none;
  // 手风琴背景
  --mat-expansion-container-background-color: none;
  // 表格背景
  // --mat-table-background-color: none;
  // 分页器背景
  --mat-paginator-container-background-color: none;
  // 树背景
  --mat-tree-container-background-color: none;
  // 抽屉背景
  --mat-sidenav-content-background-color: none;
  --mat-sidenav-container-background-color: none;

  --mdc-dialog-subhead-size: 1.1rem;
  --mat-dialog-actions-padding: 6px 24px;
  --mat-dialog-headline-padding: 6px 24px;

  // 折叠面板
  --mat-expansion-container-shape: 0;
  --mat-expansion-header-expanded-state-height: 48px;
}

.mdc-button {
  // --mat-sys-corner-full: 8px;

  @include mat.theme(
    (
      density: -1,
    )
  );
}

.mat-mdc-option {
  min-height: 32px !important;
  font-size: 14px;
}

.mat-mdc-option-active {
  .mat-pseudo-checkbox-minimal {
    display: none;
  }
}

// 输入框底部校验提示
.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

// tab 选项宽度
.mat-tab-item3-full {
  &.mat-mdc-tab-group {
    width: 100%;
  }

  mat-tab-header {
    width: 100%;

    .mat-mdc-tab-label-container {
      width: 100%;

      .mat-mdc-tab-list {
        width: 100%;

        .mat-mdc-tab-labels {
          width: 100%;

          .mat-mdc-tab {
            min-width: calc(100% / 3);
            max-width: calc(100% / 3);
            padding: 0 16px;
          }
        }
      }
    }
  }
}

.mat-tab-item4-full {
  &.mat-mdc-tab-group {
    width: 100%;
  }

  mat-tab-header {
    width: 100%;

    .mat-mdc-tab-label-container {
      width: 100%;

      .mat-mdc-tab-list {
        width: 100%;

        .mat-mdc-tab-labels {
          width: 100%;

          .mat-mdc-tab {
            min-width: calc(100% / 4);
            max-width: calc(100% / 4);
            padding: 0 16px;
          }
        }
      }
    }
  }
}

mat-tab-body.mat-mdc-tab-body {
  &.mat-mdc-tab-body-active,
  .mat-mdc-tab-body-content {
    overflow: unset;
  }
}

// .mat-mdc-tab-body-content {
//   overflow: hidden !important;
// }

// tab选项外层容器撑满
.mat-mdc-tab-body-wrapper {
  width: 100%;
  height: 0;
  flex: 1;

  .mat-mdc-tab-body {
    width: 100%;
  }
}

div.mat-mdc-dialog-title::before {
  height: 28px;
}

.mat-accordion {
  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow:
      0px 0px 1px 0px rgba(0, 0, 0, 0.1),
      0px 2px 2px 0px rgba(0, 0, 0, 0.05),
      0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  }

  .mat-expansion-panel-body {
    padding: 8px 16px 16px;
  }
}

.hide-toggle-label {
  .mdc-label {
    display: none !important;
  }
}

.mat-field-type-number {
  .mat-mdc-text-field-wrapper {
    padding-right: 4px;
  }
}
