/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.wh-full{width:100%;height:100%;}
.wh-full\!{width:100% !important;height:100% !important;}
.flex-center{display:flex;align-items:center;justify-content:center;}
/* layer: default */
.absolute{position:absolute;}
.absolute\!{position:absolute !important;}
.fixed{position:fixed;}
.relative{position:relative;}
.static{position:static;}
.-top-16px{top:-16px;}
.bottom-50px{bottom:50px;}
.left-0{left:0;}
.left-16px{left:16px;}
.left-3px{left:3px;}
.left-50\%{left:50%;}
.right-12px{right:12px;}
.right-16px{right:16px;}
.right-3px{right:3px;}
.top-0{top:0;}
.top-12px{top:12px;}
.top-16px{top:16px;}
.top-32px{top:32px;}
.top-50\%{top:50%;}
.-z-1{z-index:-1;}
.-z-999{z-index:-999;}
.z-10{z-index:10;}
.z-999{z-index:999;}
.grid{display:grid;}
.cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr));}
.mx-12px{margin-left:12px;margin-right:12px;}
.mx-3px{margin-left:3px;margin-right:3px;}
.mx-8px{margin-left:8px;margin-right:8px;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-20px{margin-top:20px;margin-bottom:20px;}
.my-8px{margin-top:8px;margin-bottom:8px;}
.my-auto\!{margin-top:auto !important;margin-bottom:auto !important;}
.-mt-2px{margin-top:-2px;}
.mb-10px\!{margin-bottom:10px !important;}
.mb-12px{margin-bottom:12px;}
.mb-18px{margin-bottom:18px;}
.mb-20px\!{margin-bottom:20px !important;}
.mb-4px{margin-bottom:4px;}
.mb-5px{margin-bottom:5px;}
.mb-6px\!{margin-bottom:6px !important;}
.mb-7px\!{margin-bottom:7px !important;}
.mb-8px{margin-bottom:8px;}
.ml-12px{margin-left:12px;}
.ml-5px{margin-left:5px;}
.ml-8px{margin-left:8px;}
.mr-10px{margin-right:10px;}
.mr-5px{margin-right:5px;}
.mr-8px{margin-right:8px;}
.mt-10px\!{margin-top:10px !important;}
.mt-12px\!{margin-top:12px !important;}
.mt-1px{margin-top:1px;}
.mt-22px\!{margin-top:22px !important;}
.mt-30px{margin-top:30px;}
.mt-5px{margin-top:5px;}
.inline{display:inline;}
.block{display:block;}
.hidden{display:none;}
.h-0{height:0;}
.h-100\%,
.h-full{height:100%;}
.h-100px{height:100px;}
.h-120px{height:120px;}
.h-180px{height:180px;}
.h-18px\!{height:18px !important;}
.h-20px\!{height:20px !important;}
.h-22px\!{height:22px !important;}
.h-24px{height:24px;}
.h-24px\!{height:24px !important;}
.h-32px{height:32px;}
.h-32px\!{height:32px !important;}
.h-36px{height:36px;}
.h-36px\!{height:36px !important;}
.h-3px{height:3px;}
.h-40px{height:40px;}
.h-40px\!{height:40px !important;}
.h-48px{height:48px;}
.h-50px{height:50px;}
.h-52px{height:52px;}
.h-64px{height:64px;}
.h-64px\!{height:64px !important;}
.h-80\%{height:80%;}
.h-auto\!{height:auto !important;}
.max-h-none\!{max-height:none !important;}
.max-w-full{max-width:100%;}
.min-h-100px{min-height:100px;}
.min-h-200px{min-height:200px;}
.min-h-300px{min-height:300px;}
.min-h-30px{min-height:30px;}
.min-h-48px{min-height:48px;}
.min-w-100px{min-width:100px;}
.min-w-40px\!{min-width:40px !important;}
.min-w-72px\!{min-width:72px !important;}
.min-w-inherit{min-width:inherit;}
.w-0{width:0;}
.w-100\%,
.w-full{width:100%;}
.w-100px{width:100px;}
.w-120px{width:120px;}
.w-126px{width:126px;}
.w-180px{width:180px;}
.w-18px\!{width:18px !important;}
.w-20px\!{width:20px !important;}
.w-240px{width:240px;}
.w-24px{width:24px;}
.w-282px{width:282px;}
.w-284px{width:284px;}
.w-312px{width:312px;}
.w-32px{width:32px;}
.w-32px\!{width:32px !important;}
.w-35\%{width:35%;}
.w-36px\!{width:36px !important;}
.w-40px{width:40px;}
.w-40px\!{width:40px !important;}
.w-52px{width:52px;}
.w-65\%{width:65%;}
.w-72px\!{width:72px !important;}
.w-80\%{width:80%;}
.w-800px{width:800px;}
.w-80px{width:80px;}
.w-84px{width:84px;}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.flex{display:flex;}
.flex-1{flex:1 1 0%;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.table{display:table;}
.-translate-x-50\%{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-50\%{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.keyframes-spin{animation:spin;}
.cursor-pointer{cursor:pointer;}
.cursor-move{cursor:move;}
.resize{resize:both;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.justify-end{justify-content:flex-end;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.gap-10px{gap:10px;}
.gap-12px{gap:12px;}
.gap-16px{gap:16px;}
.gap-24px{gap:24px;}
.gap-3px{gap:3px;}
.gap-5px{gap:5px;}
.gap-8px{gap:8px;}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow:hidden;}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.whitespace-normal{white-space:normal;}
.whitespace-normal\!{white-space:normal !important;}
.border,
.border-1,
.border-1px{border-width:1px;}
.border-2px{border-width:2px;}
.border-3px{border-width:3px;}
.border-\#2f90b9{--un-border-opacity:1;border-color:rgb(47 144 185 / var(--un-border-opacity));}
.border-\#2f90b94d{--un-border-opacity:0.3;border-color:rgb(47 144 185 / var(--un-border-opacity));}
.border-\#2f90b960{--un-border-opacity:0.38;border-color:rgb(47 144 185 / var(--un-border-opacity));}
.hover-border-\#2f90b9:hover{--un-border-opacity:1;border-color:rgb(47 144 185 / var(--un-border-opacity));}
.hover\:border-\#2f90b9:hover{--un-border-opacity:1;border-color:rgb(47 144 185 / var(--un-border-opacity));}
.rounded-16px{border-radius:16px;}
.rounded-20px{border-radius:20px;}
.rounded-3px\!{border-radius:3px !important;}
.rounded-5px{border-radius:5px;}
.rounded-5px\!{border-radius:5px !important;}
.rounded-8px{border-radius:8px;}
.border-dashed{border-style:dashed;}
.border-none\!{border-style:none !important;}
.border-solid{border-style:solid;}
.bg-\#19282d{--un-bg-opacity:1;background-color:rgb(25 40 45 / var(--un-bg-opacity)) /* #19282d */;}
.bg-\#2F90B9{--un-bg-opacity:1;background-color:rgb(47 144 185 / var(--un-bg-opacity)) /* #2F90B9 */;}
.bg-\#2f90b91a{--un-bg-opacity:0.1;background-color:rgb(47 144 185 / var(--un-bg-opacity)) /* #2f90b91a */;}
.bg-\#ffffff20{--un-bg-opacity:0.13;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #ffffff20 */;}
.bg-transparent{background-color:transparent /* transparent */;}
.hover\:bg-\#2F90B930:hover{--un-bg-opacity:0.19;background-color:rgb(47 144 185 / var(--un-bg-opacity)) /* #2F90B930 */;}
.p-0{padding:0;}
.p-10px{padding:10px;}
.p-12px{padding:12px;}
.p-20px{padding:20px;}
.p-24px{padding:24px;}
.p-4px\!{padding:4px !important;}
.p-5px\!{padding:5px !important;}
.p-6px\!{padding:6px !important;}
.p-8px{padding:8px;}
.px{padding-left:1rem;padding-right:1rem;}
.px-12px{padding-left:12px;padding-right:12px;}
.px-16px{padding-left:16px;padding-right:16px;}
.px-16px\!{padding-left:16px !important;padding-right:16px !important;}
.px-20px{padding-left:20px;padding-right:20px;}
.px-24px{padding-left:24px;padding-right:24px;}
.px-4px{padding-left:4px;padding-right:4px;}
.px-8px{padding-left:8px;padding-right:8px;}
.py-0px{padding-top:0;padding-bottom:0;}
.py-10px{padding-top:10px;padding-bottom:10px;}
.py-12px{padding-top:12px;padding-bottom:12px;}
.py-6px{padding-top:6px;padding-bottom:6px;}
.py-8px{padding-top:8px;padding-bottom:8px;}
.pb-10px{padding-bottom:10px;}
.pb-24px{padding-bottom:24px;}
.pb-4px{padding-bottom:4px;}
.pb-6px{padding-bottom:6px;}
.pb-80px{padding-bottom:80px;}
.pl-50px{padding-left:50px;}
.pl-5px{padding-left:5px;}
.pl-8px{padding-left:8px;}
.pr-12px{padding-right:12px;}
.pr-3px{padding-right:3px;}
.pr-5px{padding-right:5px;}
.pr-8px{padding-right:8px;}
.pt-10px{padding-top:10px;}
.pt-12px{padding-top:12px;}
.pt-30px\!{padding-top:30px !important;}
.pt-48px{padding-top:48px;}
.text-center{text-align:center;}
.indent{text-indent:1.5rem;}
.text-12px{font-size:12px;}
.text-14px{font-size:14px;}
.text-16px{font-size:16px;}
.text-18px{font-size:18px;}
.text-18px\!{font-size:18px !important;}
.text-20px{font-size:20px;}
.text-22px{font-size:22px;}
.text-24px{font-size:24px;}
.text-32px{font-size:32px;}
.text-36px{font-size:36px;}
.color-\#f5f9fff2{--un-text-opacity:0.95;color:rgb(245 249 255 / var(--un-text-opacity)) /* #f5f9fff2 */;}
.color-red-5{--un-text-opacity:1;color:rgb(239 68 68 / var(--un-text-opacity)) /* #ef4444 */;}
.text-inherit{color:inherit;}
.font-700\!{font-weight:700 !important;}
.font-bold{font-weight:700;}
.font-normal{font-weight:400;}
.leading-16px{line-height:16px;}
.leading-24px,
.line-height-24px{line-height:24px;}
.leading-inherit{line-height:inherit;}
.line-height-20px{line-height:20px;}
.line-height-32px{line-height:32px;}
.line-height-36px{line-height:36px;}
.line-height-40px{line-height:40px;}
.line-height-50px{line-height:50px;}
.tracking-0{letter-spacing:0;}
.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.opacity-20{opacity:0.2;}
.opacity-80{opacity:0.8;}
.outline{outline-style:solid;}
.blur{--un-blur:blur(8px);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.filter{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}