<ng-scrollbar
  externalViewport
  #scrollbarRef="ngScrollbar"
  visibility="hover"
  appearance="compact"
  orientation="auto"
  class="wh-full"
>
  <div scrollViewport>
    <content class="text-14px py-12px">
      @for (section of sectionGroup(); track i1; let i1 = $index) {
        <div class="px-24px py-8px bg-#fff rounded-12px mb-12px">
          @for (item of section; track i2; let i2 = $index) {
            @let isLast = section[i2 + 1] && section[i2 + 1].level > item.level;
            <div class="h-36px flex items-center gap-12px" [style.paddingLeft.px]="item.level * 32">
              <!-- @if (item.optional) { -->
              <mat-checkbox class="hs-density--5"></mat-checkbox>
              <!-- } -->
              @let src = isLast ? '/assets/svg/folder-open.svg' : '/assets/svg/file.svg';
              <img [src]="src" class="w-20px h-20px" />
              <span class="color-#6B7280 cursor-pointer">{{ item.name }}</span>
              @if (isLast) {
                <img src="/assets/workbench/fold.png" class="w-12px h-12px" />
              }
            </div>
          }
        </div>
      }
    </content>
  </div>
</ng-scrollbar>
