<content class="p-20px text-14px flex flex-col">
  <main>
    <form
      [formGroup]="roleForm"
      class="hs-density--5 max-w-xl pt-12px"
    >
      <div class="flex mb-6 items-center">
        <span class="w-30">角色名称：</span>
        <mat-form-field
          appearance="outline"
          class="flex-1"
        >
          <input
            matInput
            formControlName="name"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
          />
          @let nameValidate = roleForm.get('name')?.errors?.['required'];
          @if (nameValidate) {
          <mat-error class="text-red-500"> 角色名称是必填项 </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="flex mb-6 items-center">
        <span class="w-30">角色描述：</span>
        <mat-form-field
          appearance="outline"
          class="flex-1"
        >
          <input
            matInput
            formControlName="description"
            class="w-full p-2 border border-gray-300 rounded-md"
          />
        </mat-form-field>
      </div>
    </form>
  </main>
  <footer class="flex mb-6 items-center">
    <span class="w-30"></span>
    <div class="flex-1">
      <button
        mat-flat-button
        (click)="onSubmit()"
      >
        保存
      </button>
      <button mat-button>
        取消
      </button>
    </div>
  </footer>
</content>