<style lang="less">
  :host {
    content {
      ::ng-deep {
        .hover-underline {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>

<content class="wh-full flex flex-col">
  <header class="px-24px h-64px flex items-center justify-between">
    <div class="flex gap-12px">
      <mat-form-field
        appearance="outline"
        class="hs-density--5 w-225px"
      >
        <input
          matInput
          placeholder="请输入用户信息"
          [formControl]="searchValue"
          (keyup.enter)="onQueryData()"
        />
      </mat-form-field>

      <button
        mat-flat-button
        (click)="onQueryData()"
      >
        查询
      </button>
      <button
        mat-raised-button
        (click)="onResetData()"
      >
        重置
      </button>
    </div>

    <div>
      <button
        mat-flat-button
        (click)="onAddRole()"
      >
        新增角色
      </button>
    </div>
  </header>

  <mat-divider></mat-divider>

  <main class="h-0 flex-1">
    <hs-dynamic-table
      [tableConfig]="tableConfig()"
      class="h-full"
    ></hs-dynamic-table>
  </main>
</content>
