:host {
  display: block;
  width: 100%;
  height: 100%;

  ::ng-deep {
    .render-canvar {
      display: block;
      height: 100%;
      padding: 8px 20px;
    }

    .render-canvar>formly-form>formly-field>formly-field-wrapper>div>* {
      display: block;
      margin-bottom: 8px;
    }

    .wh-full {
      width: 100%;
      height: auto;
      display: block;
    }

    formly-form {
      .wh-full();

      &>formly-field {
        .wh-full();

        &>formly-field-wrapper {
          .wh-full();

          &>#workspace {
            // .wh-full();
            min-height: calc(100vh - 64px - 48px - 1px - 16px);
            .wh-full();
          }
        }
      }
    }
  }

}