@let connectedTo = widgetEditorService.getConnectedTo(IFieldType.COLUMN);
<div
  class="flex flex-col min-h-48px"
  [id]="field.fieldId || 'workspace'"
  cdkDropList
  [cdkDropListData]="field.fieldGroup"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="cdkDropListDropped($event)"
  [cdkDropListEnterPredicate]="canEnter"
  [cdkDropListDisabled]="!widgetEditorService.isEditMode()"
>
  @for (f of field.fieldGroup; track $index) {
  <formly-field
    cdkDrag
    [cdkDragData]="getDragFieldData(f)"
    [field]="f"
    (cdkDragStarted)="widgetEditorService.dragStart = true"
    (cdkDragReleased)="widgetEditorService.dragStart = false"
  >
    <div
      class="position-preview w-full h-3px border-2px border-dashed"
      *cdkDragPlaceholder
    ></div>
  </formly-field>
  }@empty {
  <div
    class="text-#a7b1bd border-1px border-solid text-14px border-#ccc min-h-48px flex-center min-w-48px bg-#f1f1f1"
  >
    拖拽组件到这里
  </div>
  }
</div>
