<mat-form-field class="example-form-field w-full hs-density--5 mb-12px">
  <!-- <mat-label>搜索你的文件</mat-label> -->
  <input
    matInput
    type="text"
    placeholder="搜索你的文件"
    [formControl]="fileName"
  />
  @if (fileName.getRawValue()) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="fileName.setValue('')"
      class="mr-5px"
    >
      <mat-icon aria-hidden="false">close</mat-icon>
    </button>
  }
</mat-form-field>

<!-- 过滤数量：{{ filterCount }} -->
<ng-scrollbar
  class="flex-1 h-0"
  #scrollbarRef="ngScrollbar"
  externalViewport
  visibility="hover"
  appearance="compact"
  orientation="auto"
>
  <div scrollViewport>
    <div
      id="jsTree-container"
      #jsTreeContainer
      class="min-h-200px"
    ></div>

    @let treeDataLength = treeInstance?.jstree(true).get_json('#').length;
    @let is_loading = treeInstance?.jstree(true).is_loading('#');
    @if (treeInstance && !treeDataLength && !is_loading) {
      <div class="absolute-center w-full">
        <hs-svg
          name="empty"
          title="暂无数据"
        ></hs-svg>
      </div>
    }
  </div>
</ng-scrollbar>
