<!-- <div class="flex h-full">
  <aside class="w-284px h-full p-8px">
    <hs-widget-folder></hs-widget-folder>
  </aside>

  <mat-divider
    [vertical]="true"
    class="h-full"
  ></mat-divider>

  <main class="w-0 flex-1 h-full">
    <hs-dashboard-viewport></hs-dashboard-viewport>
  </main>

  <mat-divider
    [vertical]="true"
    class="h-full"
  ></mat-divider>
  <aside class="w-282px h-full p-8px">
    <hs-formly-config
      type="widget"
      [model]="widgetConfig"
    ></hs-formly-config>
  </aside>
</div> -->
<content class="block wh-full">
  <mat-sidenav-container class="wh-full">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      disableClose="true"
      [fixedInViewport]="false"
    >
      <aside class="flex wh-full">
        <hs-widget-folder class="flex-1 p-8px"></hs-widget-folder>
        <mat-divider
          [vertical]="true"
          class="h-full"
        ></mat-divider>
      </aside>
    </mat-sidenav>

    <mat-sidenav-content>
      <hs-dashboard-viewport></hs-dashboard-viewport>

      <!-- <p>
        <button
          matButton
          (click)="sidenav.toggle()"
        >
          Toggle
        </button>
      </p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</content>
