<!-- <aside class="w-282px h-full p-8px">
    <hs-formly-config
      type="widget"
      [model]="widgetConfig"
    ></hs-formly-config>
  </aside> -->

<content class="block wh-full flex flex-col">
  <header>
    <hs-dashboard-toolbar
      [sidenavStart]="sidenavStart"
      [sidenavEnd]="sidenavEnd"
    ></hs-dashboard-toolbar>
  </header>
  <mat-divider class="w-full"></mat-divider>
  <main class="flex-1 h-0">
    <mat-sidenav-container class="wh-full">
      <mat-sidenav
        #sidenavStart
        mode="side"
        opened
        disableClose="true"
        [fixedInViewport]="false"
      >
        <aside class="flex wh-full">
          <hs-widget-folder class="flex-1 p-8px"></hs-widget-folder>
          <mat-divider
            [vertical]="true"
            class="h-full"
          ></mat-divider>
        </aside>
      </mat-sidenav>

      <mat-sidenav-content>
        <hs-dashboard-viewport></hs-dashboard-viewport>
      </mat-sidenav-content>

      <mat-sidenav
        #sidenavEnd
        mode="side"
        opened
        disableClose="true"
        position="end"
        [fixedInViewport]="false"
      >
        <aside class="flex wh-full">
          <mat-divider
            [vertical]="true"
            class="h-full"
          ></mat-divider>
          <hs-widget-folder class="flex-1 p-8px"></hs-widget-folder>
        </aside>
      </mat-sidenav>
    </mat-sidenav-container>
  </main>
</content>
