<content
  class="qy-upload-file-border flex py-8px gap-8px items-center"
  [ngClass]="{
    'flex-wrap': isMobileTerminal && fileData.length,
  }"
>
  <hs-file-list
    [fileInput]="fileInput"
    [fold]="fold"
    [isFile]="isFile"
    [fileData]="fileData"
    [fileShowType]="fileShowType"
    [foldStartIndex]="foldStartIndex"
    class="w-full"
    [ngClass]="{
      hidden: !fileData.length,
    }"
    (deleteItemFile)="deleteItemFile($event)"
  ></hs-file-list>

  <input
    #fileInput
    type="file"
    ng2FileSelect
    [uploader]="uploader"
    [multiple]="multiple"
    (change)="onFilesSelected($event)"
    class="hidden!"
  />
  <!-- <button
    mat-button
    class="drag-drop-button"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
    [ngClass]="{
      'w-92px! h-92px!': !isFile,
      'flex-1': fileData.length && isMobileTerminal,
    }"
  >
    @if (isFile) {
      <div class="flex-center">
        <mat-icon class="mr-5px">file_upload</mat-icon>
        <div class="whitespace-nowrap">上传</div>
      </div>
    } @else {
      <mat-icon class="m-0! text-28px! w-28px! h-28px!">add</mat-icon>
    }
  </button> -->
</content>
