<content
  class="flex gap-8px items-center"
  [ngClass]="{
    'flex-wrap': isMobileTerminal && fileData.length,
  }"
>
  <hs-file-router
    [isFile]="isFile"
    [fileData]="fileData"
    [fileShowType]="fileShowType"
    [foldStartIndex]="foldStartIndex"
    class="w-full"
    [cols]="cols"
  >
    <div class="grid-content wh-full">
      <ng-container *ngTemplateOutlet="btn"> </ng-container>
    </div>
    <div class="fold-detail-content wh-full">
      <ng-container *ngTemplateOutlet="btn"> </ng-container>
    </div>
    <div class="detail-content wh-full">
      <ng-container *ngTemplateOutlet="btn"> </ng-container>
    </div>
    <div class="more-content wh-full">
      <ng-container *ngTemplateOutlet="btn"> </ng-container>
    </div>
  </hs-file-router>

  <input
    #fileInput
    type="file"
    ng2FileSelect
    [uploader]="uploader"
    [multiple]="multiple"
    (change)="onFilesSelected($event)"
    class="hidden!"
  />

  <ng-template #btn>
    <button
      mat-button
      class="drag-drop-button"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      (click)="fileInput.click()"
    >
      @if (isFile) {
        <div class="flex-center">
          <mat-icon class="mr-5px">file_upload</mat-icon>
          <div class="whitespace-nowrap">上传</div>
        </div>
      } @else {
        <mat-icon class="m-0! text-28px! w-28px! h-28px!">add</mat-icon>
      }
    </button>
  </ng-template>
</content>
