<content class="qy-upload-file-border flex items-center">
  <hs-file-list [fileData]="fileData" class="mr-8px"></hs-file-list>

  <input
    #fileInput
    type="file"
    ng2FileSelect
    [uploader]="uploader"
    [multiple]="multiple"
    class="hidden!"
  />
  <button 
    mat-stroked-button 
    class="drag-drop-button"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    <mat-icon>file_upload</mat-icon>
    上传
  </button>
</content>
