<div class="upload-container">
  <!-- 上传控件 -->
  <div class="upload-controls">
    <input
      type="file"
      ng2FileSelect
      [uploader]="uploader"
      multiple
    />
    <button
      (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length"
    >
      开始上传
    </button>
    <button
      (click)="uploader.clearQueue()"
      [disabled]="!uploader.queue.length"
    >
      清除队列
    </button>
  </div>

  <!-- 上传队列 -->
  <div class="upload-queue">
    <h3>上传队列 ({{ uploader.queue.length }})</h3>
    <div
      *ngFor="let item of uploader.queue"
      class="queue-item"
    >
      <div class="file-info">
        <span class="file-name">{{ item.file.name }}</span>
        <span class="file-size">{{ item.file.size | filesize }}</span>
        <span class="file-status">{{ getStatus(item) }}</span>
      </div>
      <div class="progress-container">
        <div
          class="progress-bar"
          [style.width]="item.progress + '%'"
        >
          <span class="progress-text">{{ item.progress }}%</span>
        </div>
      </div>
      <div class="item-actions">
        <button
          *ngIf="!item.isUploading"
          (click)="item.upload()"
        >
          开始
        </button>
        <button
          *ngIf="item.isUploading"
          (click)="item.cancel()"
        >
          取消
        </button>
      </div>
    </div>
  </div>

  <!-- 已上传文件列表 -->
  <div
    class="uploaded-files"
    *ngIf="uploadedFiles.length > 0"
  >
    <h3>已上传文件 ({{ uploadedFiles.length }})</h3>
    <div class="file-list">
      <div
        *ngFor="let file of uploadedFiles"
        class="file-item"
      >
        <div class="file-meta">
          <span class="file-name">{{ file.name }}</span>
          <span class="file-size">{{ file.size | filesize }}</span>
          <span class="upload-time">{{
            file.uploadDate | date: 'yyyy-MM-dd HH:mm'
          }}</span>
        </div>
        <a
          class="download-btn"
          [href]="file.url"
          download
          target="_blank"
        >
          下载
        </a>
      </div>
    </div>
  </div>
</div>
