<ul class="tb-side-menu wh-full py-12px px-18px flex flex-col items-stretch justify-start">
  @for (menuItem of menuData(); track $index) {
    <li class="hs-menu-item">
      @switch (menuItem.menuType) {
        @case (IMenuType.Parent) {
          <hs-menu-toggle [section]="menuItem"></hs-menu-toggle>
        }
        @case (IMenuType.Dashboard) {
          <hs-menu-link [section]="menuItem"></hs-menu-link>
        }
        @case (IMenuType.AppRedirect) {}
        @case (IMenuType.UrlRedirect) {}
      }
    </li>
  }
</ul>
