@import 'themeMixin';

.themeMixin({
  :host {
    display: block;
    padding: 10px 12px;
    font-size: 14px;

    ::ng-deep {
      .hs-menu-item {
        display: block;
        user-select: none;
        /* 现代浏览器 */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .hs-menu-link {
          // height: 18px;
          display: flex;
          // font-size: 14px;
          // line-height: 18px;
          position: relative;
          // font-weight: 500 !important;
          // padding: 4px 8px;
          box-shadow: none !important;
          cursor: pointer;
          box-sizing: content-box;
          align-items: center;
        }
      }

      .hs-tree-invisible {
        display: none;
      }
    }
  }
});
