:host {
  width: 100%;
}

:host ::ng-deep {

  .tb-menu-item {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500 !important;
    padding: 8px 8px;
    border-radius: 99px;
    box-shadow: none !important;
    cursor: pointer;
  }
}