@import "themeMixin";

.themeMixin( {
    :host {
      width: 100%;

      content {
        background-color: @base-bg-color;
      }
    }

    .file-item {
      background-color: red
    }
  }

);

.cdk-overlay-pane {
  left: 0;
}


.upload-file-border {
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}