@let isList = fileShowType === IFileShowType.LIST;
@let isForm = fileShowType === IFileShowType.FORM;
<content
  class="flex items-center relative cursor-pointer w-full"
  [class]="isForm ? 'qy-upload-file-border p-5px' : ''"
>
  @switch (fileShowType) {
    @case (IFileShowType.FORM) {
      <div
        class="flex w-0"
        [class]="isFile ? 'flex-col flex-1' : ''"
      >
        <!-- 公共列表 -->
        <ng-template  
          #FileList
          let-fileData="fileData"
        >
          @for (item of fileData; track $index) {
            <ng-container
              *ngTemplateOutlet="
                FileItem;
                context: {
                  fileData: item,
                  index: $index,
                  length: fileData.length
                }
              "
            >
            </ng-container>
          }
        </ng-template>
        <!-- 前三个 -->
        <ng-container
          *ngTemplateOutlet="
            FileList;
            context: { fileData: fileData.slice(0, 3) }
          "
        >
        </ng-container>
        <!-- 扩展 -->
        @if (fileData.length > 3) {
          <!-- 扩展按钮 -->
          <div
            class="flex-center p-3px"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="isOpen = !isOpen"
          >
            <div class="relative">
              <span
                class="color-#5182e4"
              >
              ···
              </span>
              <span
                class="absolute w-16px h-16px top-0 bg-#d1e4ff color-#1a79ff rounded-10px -right-22px line-height-16px text-center text-12px"
                style="width: 16px !important"
                >{{ fileData.length }}</span
              >
            </div>
          </div>
          <!-- 扩展数据 -->
          <ng-template
            cdkConnectedOverlay
            centerHorizontallys
            [cdkConnectedOverlayOrigin]="trigger!"
            [cdkConnectedOverlayOpen]="isOpen"
            [cdkConnectedOverlayPositions]="overlayPositions"
            OverlayKeyboardDispatcher
            [positionStrategy]="positionStrategy"
          >
            <div
              *ngIf="fileData.length > 1"
              class="w-full flex flex-col relative cursor-pointer min-w-250px rounded-8px p-5px shadow-2xl qy-upload-file-border"
              style="background-color: var(--base-bg-color)"
              [style]="{ width: fileOverlayWidth }"
            >
              <div class="flex justify-end">
                <button
                  mat-icon-button
                  (click)="isOpen = !isOpen"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>

              <mat-divider class="pt-6px"></mat-divider>
              @let scrollHeight =
                isFile
                  ? fileData.length >= 8
                    ? '250px'
                    : 'auto'
                  : fileData.length >= 12
                    ? '270px'
                    : 'auto';
              <ng-scrollbar
                class="w-full!"
                [style]="{ height: scrollHeight }"
                #scrollbarRef="ngScrollbar"
                externalViewport
                visibility="hover"
                appearance="compact"
                orientation="auto"
              >
                <div scrollViewport>
                  <div
                    [class]="isFile ? 'w-full' : 'flex flex-row flex-wrap'"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        FileList;
                        context: { fileData: fileData.slice(3) }
                      "
                    >
                    </ng-container>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </ng-template>
        }
      </div>
    }
    @case (IFileShowType.DETAIL) {}
    @case (IFileShowType.LIST) {
      <div class="w-full">
        @if(fileData.length === 1) {
          <ng-container *ngTemplateOutlet="
            FileItem;
              context: {
                fileData: fileData[0] || {},
                index: 0
              }"
            >
          </ng-container>
        }@else {
          <div
            class="flex-center py-3px"
            (click)="openFilePreviewDialog(fileData)"
          >
            <div class="relative">
              <img
                width="24px"
                height="24px"
                src="/assets/file-type/annex.png"
              />
              <span class="color-#5182e4">
                多附件
              </span>
              <span
                class="absolute w-16px h-16px top-0 bg-#d1e4ff color-#1a79ff rounded-10px -right-22px line-height-16px text-center text-12px"
                style="width: 16px !important"
              >{{ fileData.length }}</span
              >
            </div>
          </div>
        }
      </div>
    } 
  }
</content>
<ng-template
  #FileItem
  let-fileData="fileData"
  let-index="index"
  let-length="length"
>
  <div
    class="relative p-5px flex items-center rounded-5px cursor-pointer group"
    [class]="!isList ? 'qy-file-item' : ''"
  >
    @let imgClass = isList ? 'w-21px h-21px' : isFile ? 'w-40px h-40px' : 'w-80px h-80px qy-upload-file-border';
    <img
      src="
        assets/workbench/heartsync.png
      "
      [class]="imgClass"
      nzDisablePreview
      (click)="preview(fileData)"
    />
    @if(isFile) {
      <span class="w-0 flex-1 ml-8px truncate color-#5182e4">我是文件的名称xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
    }
    <div
      [class]="
        !isFile ? 'absolute wh-full top-0 left-0 hidden group-hover:block backdrop-blur-6px qy-upload-file-border' : ''
      "
    >
      <hs-file-handle 
        [fileItemData]="fileData"
        [index]="index" 
        [preview]="!isFile"
        [download]="!isForm"
      ></hs-file-handle>
    </div>
  </div>
  @if(isFile && !isList && index < length - 1) {
    <mat-divider class="w-full"></mat-divider>
  }
  <!-- {{fileData.status}} -->
  <!-- <div class="progress-wrapper" *ngIf="findUpload(fileData)">
    <nz-progress [nzShowInfo]="false" [nzPercent]="this.inUploadInfo[fileData.uid]?.event?.percent" class="progress"></nz-progress>
  </div> -->
</ng-template>
