<!-- app.component.html -->
<div class="container h-full flex flex-col">
  @let isMenu = clickedRows?.menuType !== 'parent';
  <header class="flex items-center justify-between p-12px">
    <div class="flex-center">
      <mat-chip-set aria-label="Dog selection">
        <mat-chip (click)="addSameNode(IMenuType.Child, clickedRows)">
          <mat-icon matChipAvatar>view_list</mat-icon>
          新增菜单
        </mat-chip>
        <mat-chip (click)="addSameNode(IMenuType.Parent, clickedRows)">
          <mat-icon matChipAvatar>view_list</mat-icon>
          新增目录
        </mat-chip>
        <mat-chip
          [disabled]="isMenu"
          (click)="addChildNode(IMenuType.Child, clickedRows)"
        >
          <mat-icon matChipAvatar>account_tree</mat-icon>
          新增子级菜单
        </mat-chip>
        <mat-chip
          [disabled]="isMenu"
          (click)="addChildNode(IMenuType.Parent, clickedRows)"
        >
          <mat-icon matChipAvatar>account_tree</mat-icon>
          新增子级目录
        </mat-chip>
      </mat-chip-set>
    </div>

    <div class="flex-center">
      <!-- 全部展开和全部收缩按钮 -->
      <!-- (click)="expandAll()"
      [disabled]="treeControl.isEmpty()" -->
      <!-- <mat-form-field class="w-200px hs-density--5">
        <input
          matInput
          type="text"
          placeholder="搜索菜单"
          [formControl]="searchControl"
        />
        @if (searchControl.getRawValue()) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchControl.setValue('')"
            class="mr-5px"
          >
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        }
      </mat-form-field> -->

      <div class="ml-8px">
        <button
          mat-icon-button
          matTooltip="全部展开"
          (click)="expandAll()"
          [matTooltipPosition]="'above'"
        >
          <mat-icon>unfold_more</mat-icon>
        </button>
        <!--         (click)="collapseAll()"
        [disabled]="treeControl.isEmpty()" -->
        <button
          mat-icon-button
          matTooltip="全部收缩"
          (click)="collapseAll()"
          [matTooltipPosition]="'above'"
        >
          <mat-icon>unfold_less</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="刷新"
          (click)="loadMenuData()"
          [matTooltipPosition]="'above'"
        >
          <mat-icon>refresh</mat-icon>
          <!-- (click)="refreshMenu()" -->
        </button>
      </div>
    </div>
  </header>

  <main
    class="h-0 flex-1"
    hs-loading
    [isLoading]="loadingStatus"
  >
    <table
      mat-table
      [dataSource]="flattenedNodes()"
      [trackBy]="trackById"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="menuType">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          菜单类型
        </th>
        <td
          mat-cell
          *matCellDef="let node"
          [style.width]="'100px'"
        >
          <div class="w-100px">
            <hs-inline-editor
              type="select"
              [value]="node.menuType"
              [selectOptions]="[
                { value: 'parent', label: '目录', disabled: true },
                { value: 'child', label: '菜单' },
                { value: 'urlRedirect', label: 'url跳转' },
                { value: 'appRedirect', label: '应用跳转' },
              ]"
              selectLabelField="label"
              [showButton]="false"
              [highlight]="true"
              [disabled]="node.menuType === 'parent'"
              (editConfirm)="changeNodeValue(node.id, 'menuType', $event)"
            ></hs-inline-editor>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          [style.width]="'320px'"
        >
          菜单
        </th>
        <td
          mat-cell
          *matCellDef="let node"
        >
          <div
            class="tree-node flex"
            [style.padding-left]="node.level * 24 + 'px'"
          >
            @if (node.expandable) {
              <button
                mat-icon-button
                (click)="toggleNode(node)"
                class="tree-toggle"
              >
                <mat-icon>
                  {{
                    node.isExpanded
                      ? 'keyboard_arrow_down'
                      : 'keyboard_arrow_right'
                  }}
                </mat-icon>
              </button>
            } @else {
              <div class="w-48px"></div>
            }

            <mat-icon class="tree-icon">
              {{
                node.menuType === 'parent'
                  ? node.isExpanded
                    ? 'folder_open'
                    : 'folder'
                  : 'description'
              }}
            </mat-icon>
            <div class="flex-1 w-0">
              <hs-inline-editor
                type="text"
                [value]="node.name"
                (editConfirm)="changeNodeValue(node.id, 'name', $event)"
                [showButton]="false"
                [highlight]="true"
              ></hs-inline-editor>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="dashboardId">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          关联仪表版
        </th>
        <td
          mat-cell
          *matCellDef="let node"
        >
          {{ node.dashboardId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isFullscreen">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          是否全屏
        </th>
        <td
          mat-cell
          *matCellDef="let node"
        >
          <div class="w-84px">
            <hs-inline-editor
              type="switch"
              [value]="node.isFullscreen"
              (editConfirm)="changeNodeValue(node.id, 'isFullscreen', $event)"
              [showButton]="false"
              [highlight]="true"
            >
              {{ node.isFullscreen ? '是' : '否' }}
            </hs-inline-editor>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          操作
        </th>
        <td
          mat-cell
          *matCellDef="let node"
        >
          <button
            mat-icon-button
            color="warn"
            title="删除"
            #menuTrigger
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="deleteMenu(node)"
            >
              确认删除
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [cdkContextMenuTriggerFor]="
          row.menuType === 'parent' ? ContentMenu : null
        "
        [cdkContextMenuTriggerData]="{ context: row }"
        [class.bg-color-05]="clickedRows?.id === row.id"
        (click)="rowClicked(row)"
      ></tr>

      <tr *matNoDataRow>
        <td
          class="mat-cell text-center p-0!"
          [attr.colspan]="displayedColumns.length"
        >
          @if (!loadingStatus) {
            <div class="absolute absolute-center text-18px">
              <hs-svg
                name="empty"
                title="暂无数据"
              ></hs-svg>
            </div>
          }
        </td>
      </tr>
    </table>
  </main>
</div>

<ng-template
  #ContentMenu
  let-row="context"
>
  <style>
    #hs-context-menu {
      background-color: var(--base-bg-color);
      border: 1px solid var(--base-color-10);
      li:hover {
        background-color: var(--base-color-10);
      }
    }
  </style>
  <ul
    role="menu"
    id="hs-context-menu"
    data-popover="profile-menu"
    data-popover-placement="bottom"
    cdkMenu
    class="absolute z-10 min-w-[180px] overflow-auto rounded-lg border border-slate-200 p-1.5 shadow-lg shadow-sm focus:outline-none"
  >
    @for (menu of contextMenu; track $index) {
      <li
        cdkMenuItem
        role="menuitem"
        (click)="menu.action(row)"
        class="cursor-pointer flex w-full text-sm items-center rounded-md p-8px transition-all"
      >
        <hs-svg
          [name]="menu.icon"
          width="16px"
          height="16px"
          containerClass="p-2px"
        ></hs-svg>

        <p class="font-medium ml-2">{{ menu.label }}</p>
      </li>
      @if ($index !== contextMenu.length - 1) {
        <mat-divider class="my-3px!"></mat-divider>
      }
    }
  </ul>
</ng-template>
