<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  @for (f of field.fieldGroup; track $index) {
  <div
    class="flex-center mb-8px"
    [style]="f.props!['style']"
    cdkDrag
  >
    <mat-icon
      class="cursor-move text-20px w-20px! h-20px!"
      cdkDragHandle
      >drag_indicator</mat-icon
    >
    <div class="flex-1 w-0 mx-5px">
      @for (fc of f.fieldGroup; track $index) {
      <formly-field [field]="fc"></formly-field>
      }
    </div>
    <mat-icon
      (click)="removeField(field.fieldGroup!, $index)"
      class="cursor-pointer text-20px w-20px! h-20px!"
      >delete</mat-icon
    >
  </div>
  }
</div>
