<div mat-dialog-title>创建应用</div>
<mat-divider></mat-divider>
<mat-dialog-content class="h-0 flex-1 max-h-none!">
  <content
    class="wh-full"
    [formGroup]="appForm"
  >
    <mat-form-field
      class="w-full mb-12px"
      appearance="outline"
    >
      <mat-label>应用名称</mat-label>
      <input
        matInput
        style="resize: none"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field
      class="w-full min-h-200px"
      appearance="outline"
    >
      <mat-label>应用描述</mat-label>
      <textarea
        matInput
        style="resize: none"
        formControlName="description"
        class="h-full"
      ></textarea>
    </mat-form-field>
    <div class="my-8px">
      <label class="text-16px mb-8px">应用图片：</label>
      <hs-file-upload
        [fold]="true"
        [isFile]="true"
        fileShowType="form"
        [(fileData)]="filesData"
        [uploadUrl]="'/api/files/upload?bucket=' + bucket + '&path=' + folderName"
        (delItemFile)="delItemFile($event)"
        class="flex-1"
      ></hs-file-upload>
    </div>
  </content>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >
    取消
  </button>
  <button
    mat-flat-button
    (click)="submit()"
  >
    确定
  </button>
</mat-dialog-actions>
