@let workSizeConfigStyle = workSizeConfig()?.size!;
<content
  #ContainerElement
  class="wh-full"
>
  <div class="widget-wrapper flex-center">
    <div
      cdkDrag
      [cdkDragDisabled]="!zoomControl().isMovable()"
      [style]="workSizeConfigStyle | concatUnits"
      [style.transform]="zoomControl().transformScale()"
      class="widget-viewport-container"
    >
      <div class="viewport-overlay-layer flex-center wh-full absolute">
        <button
          mat-flat-button
          class="px-16px! mx-8px"
        >
          <mat-icon matChipAvatar>design_services</mat-icon> 去设计
        </button>
      </div>

      <!-- 内容 -->
      <div class="wh-full">
        <ng-scrollbar
          class="wh-full!"
          #scrollbarRef="ngScrollbar"
          externalViewport
          visibility="hover"
          appearance="compact"
          orientation="auto"
        >
          <div scrollViewport>
            <div class="render-canvar">
              <!-- <formly-form
                [form]="formEditorService.formGroup"
                [fields]="formEditorService.fields()"
                [model]="formEditorService.model"
                [options]="formEditorService.options"
              ></formly-form> -->
            </div>
          </div>
        </ng-scrollbar>
      </div>

      <!-- 无配置时提示 -->

      <div
        class="absolute top-0 left-0 wh-full flex-col flex-center pb-80px -z-999 opacity-80"
      >
        <img
          class="w-180px h-180px"
          src="assets/workbench/widget-workbench-tips.png"
        />
        <div class="mt-30px text-18px">暂无内容，拖拽组件进来吧！</div>
      </div>
    </div>
  </div>

  <hs-widget-zoom
    #ZoomControl
    [containerElement]="ContainerElement"
    [workSizeConfigStyle]="workSizeConfigStyle"
    class="absolute left-50% -translate-x-50% top-20px"
  ></hs-widget-zoom>
</content>
