<div class="px-8px py-10px flex justify-between">
  <div class="flex-center w-fit">
    <button
      mat-raised-button
      color="accent"
      (click)="backWorkSpace()"
      class="px-16px! mx-12px"
    >
      <mat-icon matChipAvatar>arrow_back</mat-icon> 返回
    </button>

    <!-- <div>{{ widgetConfig().formName }}</div> -->
  </div>

  <div>
    <button
      mat-button
      (click)="openFormModelDialog()"
    >
      <mat-icon matChipAvatar>settings_ethernet</mat-icon>
      查看填写信息
    </button>

    <button
      mat-flat-button
      color="accent"
      (click)="submitModel()"
      class="px-16px! mx-12px"
    >
      <mat-icon matChipAvatar>save</mat-icon> 提交
    </button>
  </div>
</div>

<mat-divider class="h-full"></mat-divider>

<div class="w-80% mx-auto my-20px">
  <hs-widget-container
    class="widget-container"
    [widgetId]="widgetId"
    [widgetType]="widgetType"
    [workSizeConfigStyle]="workSizeConfigStyle"
  ></hs-widget-container>
</div>
