<div class="zoom-control-wrapper flex-center">
  <hs-radio
    [configs]="types"
    [rows]="1"
    [(ngModel)]="activeType"
    class="w-80px border-none!"
  ></hs-radio>
  <div class="ml-8px pr-3px">
    <mat-form-field
      appearance="outline"
      class="hs-density--5 w-126px"
    >
      <mat-select
        ngDefaultControl
        [(ngModel)]="scaleSelectValue"
        (selectionChange)="onSelectionChange($event)"
      >
        @for (item of scaleOptions; track $index) {
          <mat-option [value]="item.value">{{ item.label }}</mat-option>
        }
        <mat-option [disabled]="true">{{ currentScaleStr() }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
