@import "mixin";

.themeMixin( {
    :host {
      ::ng-deep {
        ul.fancytree-container {
          background-color: transparent;
          border: none;
        }

        ul.fancytree-container li {
          padding: 0;
        }

        span.fancytree-node {
          padding: 3px 0;
        }

        span.fancytree-title {
          color: @base-text-color;
        }

        // 选中颜色
        span.fancytree-active span.fancytree-title, span.fancytree-selected span.fancytree-title {
          background-color: @base-color-20;
        }

      }

    }
  }

);