@import "mixin";

.themeMixin( {
    :host {
      user-select: none;
      display: block;
      color: @base-text-color;
      padding: 4px;
      border: 1px solid #2f90b930;
      border-radius: 8px;
      font-size: 14px;

      .active-style {
        background-color: rgba(47, 144, 185);
        color: #fff;
      }
    }
  }

);