<content class="h-full flex flex-col">
  <header>
    <hs-code-toolbar></hs-code-toolbar>
  </header>

  <main class="split-wrapper ex1 h-0 flex-1">
    <as-split
      [gutterSize]="12"
      (dragEnd)="log('dragEnd', $event)"
      direction="vertical"
    >
      <as-split-area [visible]="action.isVisibleA">
        <as-split
          [gutterSize]="12"
          (dragEnd)="log('dragEnd', $event)"
        >
          @if (action.isPresentA) {
            <as-split-area [visible]="action.isVisibleA">
              <hs-ace-editor
                title="html"
                [type]="'javascript'"
                [formControl]="code"
              ></hs-ace-editor>
            </as-split-area>
          }
          @if (action.isPresentB) {
            <as-split-area [visible]="action.isVisibleB">
              <hs-ace-editor
                title="css"
                [type]="'javascript'"
                [formControl]="code"
              ></hs-ace-editor>
            </as-split-area>
          }
          @if (action.isPresentC) {
            <as-split-area [visible]="action.isVisibleC">
              <hs-ace-editor
                title="javascript"
                [type]="'javascript'"
                [formControl]="code"
              ></hs-ace-editor>
            </as-split-area>
          }
        </as-split>
      </as-split-area>
      <as-split-area [visible]="action.isVisibleA">
        <as-split
          [gutterSize]="12"
          (dragEnd)="log('dragEnd', $event)"
        >
          <as-split-area size="33">
            <div class="p-8px">
              <formly-form
                [form]="formGroup"
                [fields]="fields"
                [model]="model"
              >
              </formly-form>
            </div>
          </as-split-area>
          <as-split-area [visible]="action.isVisibleB">
            <div class="wh-full flex-center font-700 text-24px">
              内容渲染区域
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </main>
</content>
