<header
  class="hs-app-header"
  [class]="{
    design: isDesigner(),
    active: isDesigner() && selectedConfigType() === 'appHeader',
  }"
  (click)="selectConfigType('appHeader')"
>
  <hs-app-header></hs-app-header>
</header>
<mat-divider></mat-divider>
<main class="flex h-[calc(100%-54px)]">
  <aside
    class="hs-app-aside-menu h-full"
    [class]="{
      design: isDesigner(),
      active: isDesigner() && selectedConfigType() === 'menuGlobal',
    }"
    (click)="selectConfigType('menuGlobal')"
  >
    <hs-side-menu [menuData]="menuData()"></hs-side-menu>
  </aside>
  <mat-divider
    [vertical]="true"
    class="h-full"
  ></mat-divider>
  <content
    class="hs-app-content w-0 flex-1"
    [class]="{
      design: isDesigner(),
      active: isDesigner() && selectedConfigType() === 'menuSingle',
    }"
    (click)="selectConfigType('menuSingle')"
  >
    <router-outlet></router-outlet>
  </content>
</main>