<hs-app-header></hs-app-header>

@let mainHeight = isFullscreen() ? '100%' : 'calc(100% - ' + headerHeight() + 'px)';
<!-- @let asideTop = !isFullscreen() ? '0' : headerHeight() + 'px';
@let asideHeight = !isFullscreen() ? '100%' : 'calc(100% - ' + headerHeight() + 'px)'; -->
<!-- <mat-divider></mat-divider> -->
<main class="flex relative" [style]="{ height: mainHeight }">
  @if (!isMobile) {
    <hs-side-menu [menuData]="menuData()"></hs-side-menu>
  }
  <hs-app-content></hs-app-content>
</main>
