@if(loadingStatus()) {
<div class="wh-full flex-center">
  <mat-spinner></mat-spinner>
</div>
}@else if(!loadingStatus() && !menuData().length) {
<div class="wh-full flex flex-col">
  <div class="px-24px py-8px shadow-md flex justify-between">
    <hs-app-logo></hs-app-logo>
    <hs-workbench-user-dropdown></hs-workbench-user-dropdown>
  </div>
  <div class="h-0 flex-1 flex-center">
    <hs-svg
      name="empty"
      title="未找到可以访问的页面！"
    ></hs-svg>
  </div>
</div>
}@else {
<hs-app-layout></hs-app-layout>
}