<div class="px-8px py-10px">
  <div class="flex-center w-fit">
    <button
      mat-raised-button
      color="accent"
      (click)="backWorkSpace()"
      class="px-16px! mx-12px"
    >
      <mat-icon matChipAvatar>arrow_back</mat-icon> 返回
    </button>

    <div>{{ widgetName }}</div>
  </div>
</div>
<mat-divider class="h-full"></mat-divider>

<div class="w-80% mx-auto my-20px">
  <formly-form
    [form]="formGroup"
    [fields]="fields()"
    [model]="model"
    [options]="options"
  ></formly-form>
</div>
