<div class="px-8px h-48px flex justify-between items-center">
  <div>
    <button
      mat-button
      (click)="openFieldCode()"
    >
      <mat-icon matChipAvatar>code</mat-icon> 配置代码
    </button>
  </div>

  <div>
    <button
      mat-button
      (click)="previewWidget()"
    >
      <mat-icon matChipAvatar>visibility</mat-icon> 预览
    </button>
    <button
      mat-flat-button
      (click)="updateFields()"
      class="px-16px! mx-8px"
    >
      <mat-icon matChipAvatar>save</mat-icon> 保存
    </button>
  </div>
</div>
