<!-- @let asideTop = !isFullscreen() ? '0' : headerHeight() + 'px';
@let asideHeight = !isFullscreen() ? '100%' : 'calc(100% - ' + headerHeight() + 'px)'; -->
<!-- <mat-divider></mat-divider> -->
<!-- <hs-app-header></hs-app-header> -->
@let mainHeight = isFullscreen() ? '100%' : 'calc(100% - ' + headerHeight() + 'px)';

@let contentHeight = 'calc(100% - ' + headerHeight() + 'px)';

<!-- <content class="wh-full relative">
  <hs-app-header></hs-app-header>
  <div
    class="flex"
    [style.height]="mainHeight"
  >
    @if (!isMobile) {
    <hs-side-menu [menuData]="menuData()"></hs-side-menu>
    }
    <main class="w-0 flex-1">
      <hs-app-content></hs-app-content>
    </main>
  </div>
</content> -->

<content class="wh-full flex">
  <hs-side-menu [menuData]="menuData()"></hs-side-menu>
  <div class="w-0 flex-1 h-full">
    <hs-app-header></hs-app-header>
    <main [style.height]="contentHeight">
      <hs-app-content [style.height]="contentHeight"></hs-app-content>
    </main>
  </div>
</content>

