@let mainHeight = isFullscreen() ? '100%' : 'calc(100% - ' + headerHeight() + 'px)';
@let contentHeight = 'calc(100% - ' + headerHeight() + 'px)';
@switch (appLayoutType()) {
@case("default") {
<div class="w-full h-full flex items-center justify-center">
  <content class="wh-full relative">
    <hs-app-header></hs-app-header>
    <div
      class="flex"
      [style.height]="mainHeight"
    >
      @if (!isMobile) {
      <hs-side-menu></hs-side-menu>
      }
      <main class="w-0 flex-1">
        <hs-app-content></hs-app-content>
      </main>
    </div>
  </content>
</div>
}
@case("left-right") {
<content class="wh-full flex">
  <hs-side-menu></hs-side-menu>
  <div class="w-0 flex-1 h-full">
    <hs-app-header></hs-app-header>
    <main [style.height]="contentHeight">
      <hs-app-content [style.height]="contentHeight"></hs-app-content>
    </main>
  </div>
</content>
}
}