<content class="contents" hs-loading [isLoading]="loadingStatus()">
  <div mat-dialog-title>
    {{ title }}
    <button mat-icon-button mat-dialog-close class="absolute-center-y! right-12px">
      <mat-icon>close1</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content class="h-0 flex-1 max-h-none!">
    <formly-form [form]="sourceForm" [fields]="sourceFields" [model]="sourceModel"></formly-form>
  </mat-dialog-content>
  <mat-divider> </mat-divider>
  <mat-dialog-actions align="end">
    <button
      class="absolute-center-y! left-24px"
      mat-raised-button
      color="accent"
      (click)="testConnection()"
    >
      测试连接
    </button>
    <button mat-button mat-dialog-close>取消</button>
    <button mat-flat-button color="primary" (click)="submit()">{{ confirmText }}</button>
  </mat-dialog-actions>
</content>
